<footer>
  <div class="container">
    <div class="row foot-row">
      <div class="col-lg-6">
        <div class="row align-items-center">
          <div class="col-sm-5 text-center">
            <a href="/"><img src="assets/images/logo-white.png" class="logo-foot"></a>
            <ul class="socials">
              <li><a style="cursor: pointer;" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a style="cursor: pointer;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a style="cursor: pointer;" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a style="cursor: pointer;" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-7">
            <h5>Order catering from thousands of restaurants and caterers</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-4">
            <h4>Company</h4>
            <ul class="foot-menu">
              <li><a routerLink="/" class="nav-link active">Home</a></li>
              <li><a routerLink="/aboutus" class="nav-link">About Us</a></li>
              <li><a routerLink="/contactus" class="nav-link">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Info</h4>
            <ul class="foot-menu">
              <li><a style="cursor: pointer;" class="nav-link">Testimonials</a></li>
              <li><a routerLink="/term-conditions" class="nav-link">Terms & Conditions</a></li>
              <li><a style="cursor: pointer;" class="nav-link">Privacy & Policy</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Get Started</h4>
            <ul class="foot-menu">
              <li><a href="/listing" class="nav-link">Start an Order</a></li>
              <li><a href="https://app.caterdaay.com/owner/login" style="cursor: pointer;" class="nav-link">Become a Caterer</a></li>
              <li><a style="cursor: pointer;" class="nav-link">Enterprise</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyrights">
      <div class="col-12">© 2019, <a href="/">Caterdaay</a>. All Rights Reserved. Designed & Developed.</div>
    </div>
  </div>
</footer>
<a style="cursor: pointer;" class="back-to-top" appBackToTop style="display: none;">
  <i class="fa fa-arrow-circle-up"></i>
</a>