.tag{
    font-size: 13px;
    background: #5ba946;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    /* height: 20px; */
    line-height: 17px;
    min-width: 30px;
    position: relative;
    margin: 0 5px 5px 0;
    text-decoration: none;
    padding: 2px 15px;
}
.tag-content {
    height: 27px;
    overflow: auto;
}
.tags {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tag::after {
    background: #fff;
    border-bottom: 11px solid transparent;
    border-left: 5px solid  #5ba946;
    border-top: 10px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.profile-data {
    position: relative;
}

.profile-data a {
    cursor: pointer;
}

.profile-data img:first-child{
    position:absolute;
    top:0;
    left:0;
}