<app-header></app-header>
<app-signup></app-signup>
<section class="header-title">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>{{address}}</h1>
				<p>Discover all the flavors {{city}} has to offer. Order catering online from {{totalResturants}} local restaurants who can deliver to your meeting or event. Select a restaurant, view their menu, build and submit your order, and we’ll handle the rest. No upcharges or cancellation fees.</p>
			</div>
		</div>
	</div>
</section>

<section class="filters">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- <form action="" method="" class="form-inline">
					<label>Order</label>
					<select class="custom-select">
						<option value="Deliveryy" selected>Delivery</option>
						<option value="Take Away" >Take Away</option>
					</select>
					<label>Delivery Address</label>
					<select class="custom-select">
						<option selected>Dallas, TX</option>
					</select>
					<label>When</label>
					<input type="date" name="" placeholder="Add event Date">
					<label>Serving</label>
					<select class="custom-select">
						<option selected>Total Head Count</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
						<option value="45">45</option>
						<option value="46">46</option>
						<option value="47">47</option>
						<option value="48">48</option>
						<option value="49">49</option>
						<option value="50">50</option>
					</select>
				</form> -->
			</div>
		</div>
	</div>
</section>

<section class="inner-search">
	<div class="container">
		<div class="row">
			<div class="col-md-3 sidebar">
				<div class="food-cat side-widget">
					<h4>All Cusines</h4>
					<ul>
					
						<li *ngFor="let cuisine of cuisines">
							<a  (click)="addCuisine(cuisine._id)" class="flaticon-egg">{{cuisine.name}}</a>
						
						</li>

					</ul>
				</div>
			
			</div>

			<div class="col-md-9">
				<div class="row">
						<div *ngIf="preloader" style="margin:0 auto;">
								<img src="/assets/images/preloader.gif" style="position: center" alt="">
						</div>
				
					<div  *ngIf="validation && !preloader" style="margin:0 auto;padding-top: 50px;"><h3>Sorry No Resturant Found</h3></div>
					<ul class="search-cont">
							
						<div *ngIf="!preloader">
						<li *ngFor="let item of resturants">
							<figure *ngIf="item.page == CurrentPage">
								<a style="cursor: pointer" (click)="RequestOrder(item._id)"><img src="http://localhost:4024/uploads/{{item.image[0]}}" alt=""></a>
							</figure>
							<div class="s-cont-desc" *ngIf="item.page == CurrentPage" >
								<a style="cursor: pointer"  (click)="RequestOrder(item._id)"><h4>{{item.restaurantname}}</h4></a>
								<div class="row">
									<div class="cont-spec">
										{{item.restaurantDescription.substring(1,300).trim()}}.... 
									</div>
									<div class="cont-rev">
										<div class="star-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="rating">
											<span>({{item.rating}})</span><span><a style="cursor: pointer;">({{item.review}}Reviews)</a></span>
										</div>
									</div>
								</div>
								<div class="row ord-spec-row">
									<div class="ord-spec">
										<strong>{{item.minimumorder}} </strong> Minimum Person
									</div>
									<div class="ord-spec">
										<strong>{{item.preorderforlaterafterdays}}</strong> Pre Order
									</div>
									
								</div>
								<div class="row">
									<a style="cursor: pointer" routerLink="/detail" (click)="RequestOrder(item._id)" class="ord-btn">Request Order</a>
								</div>
							</div>
							</div>
						<!-- </li>
						<li>
							<figure>
								<a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
							</figure>
							<div class="s-cont-desc">
								<a href="#"><h4>Hooter Restaurant Bar</h4></a>
								<div class="row">
									<div class="cont-spec">
										Slow smoked - Served fast - 4 mi - $$$$
									</div>
									<div class="cont-rev">
										<div class="star-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="rating">
											<span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
										</div>
									</div>
								</div>
								<div class="row ord-spec-row">
									<div class="ord-spec">
										<strong>$100</strong> Minimum
									</div>
									<div class="ord-spec">
										<strong>$25</strong> Delivery fee
									</div>
									<div class="ord-spec">
										<strong>99%</strong> On time
									</div>
								</div>
								<div class="row">
									<a href="#" class="ord-btn">Request Order</a>
								</div>
							</div>
						</li>
						<li>
							<figure>
								<a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
							</figure>
							<div class="s-cont-desc">
								<a href="#"><h4>Hooter Restaurant Bar</h4></a>
								<div class="row">
									<div class="cont-spec">
										Slow smoked - Served fast - 4 mi - $$$$
									</div>
									<div class="cont-rev">
										<div class="star-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="rating">
											<span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
										</div>
									</div>
								</div>
								<div class="row ord-spec-row">
									<div class="ord-spec">
										<strong>$100</strong> Minimum
									</div>
									<div class="ord-spec">
										<strong>$25</strong> Delivery fee
									</div>
									<div class="ord-spec">
										<strong>99%</strong> On time
									</div>
								</div>
								<div class="row">
									<a href="#" class="ord-btn">Request Order</a>
								</div>
							</div>
						</li>
						<li>
							<figure>
								<a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
							</figure>
							<div class="s-cont-desc">
								<a href="#"><h4>Hooter Restaurant Bar</h4></a>
								<div class="row">
									<div class="cont-spec">
										Slow smoked - Served fast - 4 mi - $$$$
									</div>
									<div class="cont-rev">
										<div class="star-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="rating">
											<span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
										</div>
									</div>
								</div>
								<div class="row ord-spec-row">
									<div class="ord-spec">
										<strong>$100</strong> Minimum
									</div>
									<div class="ord-spec">
										<strong>$25</strong> Delivery fee
									</div>
									<div class="ord-spec">
										<strong>99%</strong> On time
									</div>
								</div>
								<div class="row">
									<a href="#" class="ord-btn">Request Order</a>
								</div>
							</div>
						</li>
						<li>
							<figure>
								<a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
							</figure>
							<div class="s-cont-desc">
								<a href="#"><h4>Hooter Restaurant Bar</h4></a>
								<div class="row">
									<div class="cont-spec">
										Slow smoked - Served fast - 4 mi - $$$$
									</div>
									<div class="cont-rev">
										<div class="star-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="rating">
											<span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
										</div>
									</div>
								</div>
								<div class="row ord-spec-row">
									<div class="ord-spec">
										<strong>$100</strong> Minimum
									</div>
									<div class="ord-spec">
										<strong>$25</strong> Delivery fee
									</div>
									<div class="ord-spec">
										<strong>99%</strong> On time
									</div>
								</div>
								<div class="row">
									<a href="#" class="ord-btn">Request Order</a>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
				<div class="row justify-content-center">
					<ul class="pagination">
					  	<li *ngIf="CurrentPage != 1" class="page-item"><a class="page-link" style="cursor: pointer;"><i class="fa fa-angle-double-left" aria-hidden="true" (click)="Pre()"></i></a></li>
						<li class="page-item" *ngFor="let page of pageArray"><a class="page-link" style="cursor: pointer;" (click)="SetPage(page)">{{page}}</a></li>
						<li *ngIf="CurrentPage != totalpages" class="page-item"><a class="page-link" style="cursor: pointer;"><i  class="fa fa-angle-double-right" aria-hidden="true" (click)="Next()"></i></a></li>
					</ul>
				</div>
				<div class="row justify-content-center">
					<ul class="breadcrumb">
					  <li class="breadcrumb-item"><a style="cursor: pointer;">{{country}}</a></li>
					  <li class="breadcrumb-item"><a style="cursor: pointer;">{{city}}</a></li>
					  <li class="breadcrumb-item active">Search Results</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<app-mobile-app></app-mobile-app>
<app-onboarding></app-onboarding>
<app-footer></app-footer>