<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-faq">
    <div class="container">
      <div class="row text-center">
        <h1>FAQ<span class="small">s</span></h1>
      </div>
    </div>
  </section>
  
  <section class="pt-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11">
          <h3 class="head">General <span class="clr-red">Info</span></h3>
          
  
          <div id="accordion" class="mt-5">
  
            <!-- Ques1 -->
              <div class="card">
                <div class="card-header" id="heading1">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#ques1" aria-expanded="true" aria-controls="ques1">
                          Is CaterDaay free?
                      </button>
                    </h5>
                </div>
  
                <div id="ques1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
                    <div class="card-body">
                      Absolutely. CaterDaay never adds any fees beyond those that the caterer requires. You’ll always see the breakdown of the caterer’s charges: food, delivery, tip, tax. Nothing is hidden and there are no mark-ups.
                    </div>
                </div>
              </div>
              <!-- Ques2 -->
              <div class="card">
                <div class="card-header" id="heading2">
                   <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques2" aria-expanded="false" aria-controls="ques2">
                          What kind of food can I get?
                      </button>
                    </h5>
                </div>
                <div id="ques2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                    <div class="card-body">
                      Any kind you would like! We have a wide range of reliable restaurants and caterers. Our only order minimums or requirements are what the caterers specify. If you have a caterer you’d like to see added to our network, email us at <a href="mailto:support@caterdaay.com">support@caterdaay.com</a>
                    </div>
                </div>
              </div>
              <!-- Ques3 -->
              <div class="card">
                <div class="card-header" id="heading3">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques3" aria-expanded="false" aria-controls="ques3">
                         Is the food delivered? Can I pick it up?
                      </button>
                    </h5>
                </div>
                <div id="ques3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                   <div class="card-body">
                      Yes and yes. Most of our caterers deliver. If you prefer to pick up the food yourself, simply set your order up as a takeout order.
                    </div>
                </div>
              </div>
              <!-- Ques4 -->
              <div class="card">
                <div class="card-header" id="heading4">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques4" aria-expanded="false" aria-controls="ques4">
                         Do you have a 100% satisfaction guarantee?
                      </button>
                    </h5>
                </div>
                <div id="ques4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                   <div class="card-body">
                      Yes. If you’re ever not 100% satisfied, we’ll make it right. We’ll make it up to your guests, too, if that’s appropriate.
                    </div>
                </div>
              </div>
              <!-- Ques5 -->
              <div class="card">
                <div class="card-header" id="heading5">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques5" aria-expanded="false" aria-controls="ques5">
                         Is CaterDaay’s ordering process secure?
                      </button>
                    </h5>
                </div>
                <div id="ques5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                   <div class="card-body">
                      Yes. You can place orders with confidence, since we use 128-bit SSL encryption and secure hosting facilities for all sensitive data. Please see our <a routerLink="/term-conditions">Privacy Policy</a> for more.
                    </div>
                </div>
              </div>
              <!-- Ques6 -->
              <div class="card">
                <div class="card-header" id="heading6">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques6" aria-expanded="false" aria-controls="ques6">
                         What is your privacy policy?
                      </button>
                    </h5>
                </div>
                <div id="ques6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                   <div class="card-body">
                      You control how we share your information. Please see our <a routerLink="/term-conditions">Privacy Policy</a> for more.
                    </div>
                </div>
              </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  <section class="pt-5 mt-5 mb-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11">
          <h3 class="head">Orders</h3>
  
          <div id="chef-accordion" class="mt-5">
  
            <!-- Ques1 -->
              <div class="card">
                <div class="card-header" id="chef-heading1">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#chef-ques1" aria-expanded="true" aria-controls="chef-ques1">
                          How do I place an order?
                      </button>
                    </h5>
                </div>
  
                <div id="chef-ques1" class="collapse show" aria-labelledby="chef-heading1" data-parent="#chef-accordion">
                    <div class="card-body">
                      Placing an order is easy! Simply visit <a routerLink="/">www.caterdaay.com</a> and enter the address where you need food delivered. To get the most accurate search results, enter the date and time of your event. Select the caterer you’d like to order from and build your order. Once you’re done, go to checkout, provide your payment information, submit your order, and relax. We’ll take care of the rest. 
                    </div>
                </div>
              </div>
              <!-- Ques2 -->
              <div class="card">
                <div class="card-header" id="chef-heading2">
                   <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques2" aria-expanded="false" aria-controls="chef-ques2">
                          Can I place orders in advance?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques2" class="collapse" aria-labelledby="chef-heading2" data-parent="#chef-accordion">
                    <div class="card-body">
                      Yes. You can place orders days or months in advance. We stay on top of all future orders. And, we only bill your credit card on the event day.
                    </div>
                </div>
              </div>
              <!-- Ques3 -->
              <div class="card">
                <div class="card-header" id="chef-heading3">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques3" aria-expanded="false" aria-controls="chef-ques3">
                         Can I view my past or future orders?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques3" class="collapse" aria-labelledby="chef-heading3" data-parent="#chef-accordion">
                   <div class="card-body">
                      Yes. Your Scheduled Orders page shows your pending orders. Your Receipts page has all past orders. That page also lets you create an Expense Report, by printing your receipts for any date range.
                    </div>
                </div>
              </div>
              <!-- Ques4 -->
              <div class="card">
                <div class="card-header" id="chef-heading4">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques4" aria-expanded="false" aria-controls="chef-ques4">
                         Can I repeat my favourite orders?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques4" class="collapse" aria-labelledby="chef-heading4" data-parent="#chef-accordion">
                   <div class="card-body">
                      Yes. When you’ve selected an office, orders you’ve placed for them in the past are offered for you to Duplicate. You can create an exact duplicate, or modify the details for the current situation.
                    </div>
                </div>
              </div>
              <!-- Ques5 -->
              <div class="card">
                <div class="card-header" id="chef-heading5">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques5" aria-expanded="false" aria-controls="chef-ques5">
                         Can I change an order once it is placed?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques5" class="collapse" aria-labelledby="chef-heading5" data-parent="#chef-accordion">
                   <div class="card-body">
                      Yes. You can make changes directly online or <a href="support@caterdaay.com">support@caterDaay.com</a>. Each caterer sets their own cut off time for online modifications. If you can’t make the change online, contact us and we’ll request the change (no guarantee). For most caterers, the cut off time is three hours.
                    </div>
                </div>
              </div>
              <!-- Ques6 -->
              <div class="card">
                <div class="card-header" id="chef-heading6">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques6" aria-expanded="false" aria-controls="chef-ques6">
                         Is there a fee for cancelling an order?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques6" class="collapse" aria-labelledby="chef-heading6" data-parent="#chef-accordion">
                   <div class="card-body">
                      There is no cancellation fee, but the caterer may have to charge for food already prepared. Follow the instructions on your Orders page, or <a routerLink="/contactus">Contact Us</a> for help.
                    </div>
                </div>
              </div>
              <!-- Ques7 -->
              <div class="card">
                <div class="card-header" id="chef-heading7">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques7" aria-expanded="false" aria-controls="chef-ques7">
                         Can you accommodate special requests?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques7" class="collapse" aria-labelledby="chef-heading7" data-parent="#chef-accordion">
                   <div class="card-body">
                      Of course. Simply tell us your needs under “special instructions” in your order. 
                    </div>
                </div>
              </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  <section class=" mt-5 mb-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11">
          <h3 class="head">My <span class="clr-green">Account</span></h3>
  
          <div id="acc-accordion" class="mt-5">
  
            <!-- Ques1 -->
              <div class="card">
                <div class="card-header" id="acc-heading1">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#acc-ques1" aria-expanded="true" aria-controls="acc-ques1">
                          How do I change my account information?
                      </button>
                    </h5>
                </div>
  
                <div id="acc-ques1" class="collapse show" aria-labelledby="acc-heading1" data-parent="#acc-accordion">
                    <div class="card-body">
                      You can always change any of your information in your Profile page.
                    </div>
                </div>
              </div>
              <!-- Ques2 -->
              <div class="card">
                <div class="card-header" id="acc-heading2">
                   <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#acc-ques2" aria-expanded="false" aria-controls="acc-ques2">
                          How do I track my expenses?
                      </button>
                    </h5>
                </div>
                <div id="acc-ques2" class="collapse" aria-labelledby="acc-heading2" data-parent="#acc-accordion">
                    <div class="card-body">
                      Very easily. With CaterDaay, you can’t lose a receipt. We email you a detailed receipt after an order completes, and store your receipts online forever in your Receipts page. You can print any receipts using the “Expense Report” button, too. If you’re a Concur user, you can turn on our integration feature to have receipts automatically sent to Concur.
                    </div>
                </div>
              </div>
              <!-- Ques3 -->
              <div class="card">
                <div class="card-header" id="acc-heading3">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#acc-ques3" aria-expanded="false" aria-controls="acc-ques3">
                         How do I get my receipts as Adobe Acrobat PDF files?
                      </button>
                    </h5>
                </div>
                <div id="acc-ques3" class="collapse" aria-labelledby="acc-heading3" data-parent="#acc-accordion">
                   <div class="card-body">
                      Just go to your Receipts page, and click the “PDF” link for an order to download the receipt.
                    </div>
                </div>
              </div>
              <!-- Ques4 -->
              <div class="card">
                <div class="card-header" id="acc-heading4">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#acc-ques4" aria-expanded="false" aria-controls="acc-ques4">
                         How do I change my password?
                      </button>
                    </h5>
                </div>
                <div id="acc-ques4" class="collapse" aria-labelledby="acc-heading4" data-parent="#acc-accordion">
                   <div class="card-body">
                      You can change your password on your Profile page.
                    </div>
                </div>
              </div>
              <!-- Ques5 -->
              <div class="card">
                <div class="card-header" id="acc-heading5">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#acc-ques5" aria-expanded="false" aria-controls="acc-ques5">
                         What if I forgot my password?
                      </button>
                    </h5>
                </div>
                <div id="acc-ques5" class="collapse" aria-labelledby="acc-heading5" data-parent="#acc-accordion">
                   <div class="card-body">
                      No problem. Click the “Forgot your password?” link that comes up in the error message on the sign-in page.
                    </div>
                </div>
              </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  <section class=" mb-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11">
          <h3 class="head">Price & <span class="clr-red">Payments</span></h3>
  
          <div id="price-accordion" class="mt-5">
  
            <!-- Ques1 -->
              <div class="card">
                <div class="card-header" id="price-heading1">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#price-ques1" aria-expanded="true" aria-controls="price-ques1">
                          Does CaterDaay mark up the caterer’s prices?
                      </button>
                    </h5>
                </div>
  
                <div id="price-ques1" class="collapse show" aria-labelledby="price-heading1" data-parent="#price-accordion">
                    <div class="card-body">
                      Never knowingly. Prices on CaterDaay are identical to the caterer’s normal pricing, unless they and we got out of sync. With tens of thousands of caterers, that can happen. We’ll make it right for you.
                    </div>
                </div>
              </div>
              <!-- Ques2 -->
              <div class="card">
                <div class="card-header" id="price-heading2">
                   <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#price-ques2" aria-expanded="false" aria-controls="price-ques2">
                          How does CaterDaay make money?
                      </button>
                    </h5>
                </div>
                <div id="price-ques2" class="collapse" aria-labelledby="price-heading2" data-parent="#price-accordion">
                    <div class="card-body">
                      CaterDaay receives commissions from the caterers
                    </div>
                </div>
              </div>
              <!-- Ques3 -->
              <div class="card">
                <div class="card-header" id="price-heading3">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#price-ques3" aria-expanded="false" aria-controls="price-ques3">
                         When do you bill my credit card?
                      </button>
                    </h5>
                </div>
                <div id="price-ques3" class="collapse" aria-labelledby="price-heading3" data-parent="#price-accordion">
                   <div class="card-body">
                      We usually bill your credit card on the day of your event.
                    </div>
                </div>
              </div>
              <!-- Ques4 -->
              <div class="card">
                <div class="card-header" id="price-heading4">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#price-ques4" aria-expanded="false" aria-controls="price-ques4">
                         Is there a delivery charge?
                      </button>
                    </h5>
                </div>
                <div id="price-ques4" class="collapse" aria-labelledby="price-heading4" data-parent="#price-accordion">
                   <div class="card-body">
                      Some caterers charge a delivery fee, which is clearly displayed when you place your order.
                    </div>
                </div>
              </div>
              <!-- Ques5 -->
              <div class="card">
                <div class="card-header" id="price-heading5">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#price-ques5" aria-expanded="false" aria-controls="price-ques5">
                         Should I tip the delivery driver?
                      </button>
                    </h5>
                </div>
                <div id="price-ques5" class="collapse" aria-labelledby="price-heading5" data-parent="#price-accordion">
                   <div class="card-body">
                      We recommend it unless the distance is small, or the delivery fee is already large. Drivers rely on tips. Simply enter the tip amount when you finalize payment on an order. Then you’re all set, even if you’re not present when the delivery occurs.
                    </div>
                </div>
              </div>
              <!-- Ques6 -->
              <div class="card">
                <div class="card-header" id="price-heading6">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#price-ques6" aria-expanded="false" aria-controls="price-ques6">
                         Can I get a receipt for an old order?
                      </button>
                    </h5>
                </div>
                <div id="price-ques6" class="collapse" aria-labelledby="price-heading6" data-parent="#price-accordion">
                   <div class="card-body">
                      Any time. If you no longer have the email copy, simply go to Receipts.
                    </div>
                </div>
              </div>
              <!-- Ques7 -->
              <div class="card">
                <div class="card-header" id="price-heading7">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#price-ques7" aria-expanded="false" aria-controls="price-ques7">
                         What credit cards can I use?
                      </button>
                    </h5>
                </div>
                <div id="price-ques7" class="collapse" aria-labelledby="price-heading7" data-parent="#price-accordion">
                   <div class="card-body">
                      CaterDaay accept all major credit cards: American Express, MasterCard, Visa, and Discover.
                    </div>
                </div>
              </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  <app-testimonials></app-testimonials>
<app-onboarding></app-onboarding>
<app-footer2></app-footer2>  