<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-faq">
    <div class="container">
      <div class="row text-center">
        <h1>FAQ<span class="small">s</span></h1>
      </div>
    </div>
  </section>
  
  <section class="pt-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11">
          <h3 class="head">General <span class="clr-red">Info</span></h3>
          
  
          <div id="accordion" class="mt-5">
  
            <!-- Ques1 -->
              <div class="card">
                <div class="card-header" id="heading1">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#ques1" aria-expanded="true" aria-controls="ques1">
                        Does Caterdaay Charge any fee?
                      </button>
                    </h5>
                </div>
  
                <div id="ques1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
                    <div class="card-body">
                      Not at all. Caterdaay does not charge any fees. We only charge small commission to the caterers. We provide complete breakdown of food, delivery, tip, tax. Nothing is hidden.
                    </div>
                </div>
              </div>
              <!-- Ques2 -->
              <div class="card">
                <div class="card-header" id="heading2">
                   <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques2" aria-expanded="false" aria-controls="ques2">
                        What kind of food is available on Caterdaay ?
                      </button>
                    </h5>
                </div>
                <div id="ques2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                    <div class="card-body">
                      Our wide range of Caterers & Restaurant have Diet, Italian, Indian, Chinese, and Mexican etc. Including Kosher, Halal & Vegan. Any question please email us at support@Caterdaay.com.
                    </div>
                </div>
              </div>
              <!-- Ques3 -->
              <div class="card">
                <div class="card-header" id="heading3">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques3" aria-expanded="false" aria-controls="ques3">
                        Is Caterdaay ordering/payment process is secure?
                      </button>
                    </h5>
                </div>
                <div id="ques3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                   <div class="card-body">
                    Yes. You can place orders with confidence, since we use 128-bit SSL encryption and secure hosting facilities for all sensitive data. Please see our <a routerLink="/privacy-n-policy"> Privacy Policy </a> for more information.
                    </div>
                </div>
              </div>
              <!-- Ques4 -->
              <div class="card">
                <div class="card-header" id="heading4">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques4" aria-expanded="false" aria-controls="ques4">
                        How do I pay ?
                      </button>
                    </h5>
                </div>
                <div id="ques4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                   <div class="card-body">
                    You can pay via Credit Card. 
                    </div>
                </div>
              </div>
                    <!-- Ques6 -->
              <div class="card">
                <div class="card-header" id="heading6">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques6" aria-expanded="false" aria-controls="ques6">
                        How to place an order?
                      </button>
                    </h5>
                </div>
                <div id="ques6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                   <div class="card-body">
                    It’s very simple visit our www.caterdaay.com or apps on your mobile phone and enter the address where your food need to be delivered. Select the caterer you’d like to order and schedule day & Time for delivery and build your order. Once you’re done, go to checkout, provide your payment information, submit your order. The caterdaay will do the rest. If you have, any question please email us at support@caterdaay.com or contact via live chat.
                    </div>
                </div>
              </div>
              <!-- Ques5 -->
              <div class="card">
                <div class="card-header" id="heading5">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques5" aria-expanded="false" aria-controls="ques5">
                        Is it possible to change my order?
                      </button>
                    </h5>
                </div>
                <div id="ques5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                   <div class="card-body">
                    Yes. You can make changes online. Most caterers have 2-3 hrs. cutoff time. If some how you can’t make the changes online, we’ll request on your behalf for the change (no guarantee). Please contact us via live chat or email us at support@caterdaay.com. 
                    </div>
                </div>
              </div>
          <!-- Ques7 -->
          <div class="card">
            <div class="card-header" id="heading5">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques7" aria-expanded="false" aria-controls="ques5">
                    How will I be notified if the order is ready to deliver or pickup?
                  </button>
                </h5>
            </div>
            <div id="ques7" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
               <div class="card-body">
                You will be notified by email and text message that the order is on its way or ready to pick up.
                </div>
            </div>
          </div>
           <!-- Ques8 -->
          <div class="card">
            <div class="card-header" id="heading5">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ques8" aria-expanded="false" aria-controls="ques5">
                    Any fee for cancelling the order?
                  </button>
                </h5>
            </div>
            <div id="ques8" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
               <div class="card-body">
                No fee for cancelling the order, but the caterer/Restaurant may charge for food already prepared. Please <a routerLink="/contactus">Contact Us</a> for help.
                </div>
            </div>
          </div>
          
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  <section class="pt-5 mt-5 mb-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11">
          <h3 class="head">FAQ for Caterers & Restaurants</h3>
  
          <div id="chef-accordion" class="mt-5">
  
            <!-- Ques1 -->
              <div class="card">
                <div class="card-header" id="chef-heading1">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#chef-ques1" aria-expanded="true" aria-controls="chef-ques1">
                        How am I being paid and when?
                      </button>
                    </h5>
                </div>
  
                <div id="chef-ques1" class="collapse show" aria-labelledby="chef-heading1" data-parent="#chef-accordion">
                    <div class="card-body">
                      We will be making direct bank transfers on a bi-weekly basis.
                    </div>
                </div>
              </div>
              <!-- Ques2 -->
              <div class="card">
                <div class="card-header" id="chef-heading2">
                   <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques2" aria-expanded="false" aria-controls="chef-ques2">
                        Do you need any verification from caterers/Restaurants to be registered on Caterdaay?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques2" class="collapse" aria-labelledby="chef-heading2" data-parent="#chef-accordion">
                    <div class="card-body">
                      Yes. Every caterers/Restaurant must provide all required information like Name, Address, Contact Numbers, Bank Information and packages along with their food-handling certificate. 
                    </div>
                </div>
              </div>
              <!-- Ques3 -->
              <div class="card">
                <div class="card-header" id="chef-heading3">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques3" aria-expanded="false" aria-controls="chef-ques3">
                        How will I get an alert that customer has placed an order?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques3" class="collapse" aria-labelledby="chef-heading3" data-parent="#chef-accordion">
                   <div class="card-body">
                    How will I get an alert that customer has placed an order?
                    </div>
                </div>
              </div>
              <!-- Ques4 -->
              <div class="card">
                <div class="card-header" id="chef-heading4">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques4" aria-expanded="false" aria-controls="chef-ques4">
                        What if I don’t agree with the rating/review buyer has given me?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques4" class="collapse" aria-labelledby="chef-heading4" data-parent="#chef-accordion">
                   <div class="card-body">
                    Reviews are final and cannot be changed.
                    </div>
                </div>
              </div>
              <!-- Ques5 -->
              <div class="card">
                <div class="card-header" id="chef-heading5">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques5" aria-expanded="false" aria-controls="chef-ques5">
                        Do I need to share my contact information on profile page?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques5" class="collapse" aria-labelledby="chef-heading5" data-parent="#chef-accordion">
                   <div class="card-body">
                    To register, yes you will need to share relevant contact information with us. 
                    </div>
                </div>
              </div>
              <!-- Ques6 -->
              <div class="card">
                <div class="card-header" id="chef-heading6">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques6" aria-expanded="false" aria-controls="chef-ques6">
                        To register, yes you will need to share relevant contact information with us. 
                      </button>
                    </h5>
                </div>
                <div id="chef-ques6" class="collapse" aria-labelledby="chef-heading6" data-parent="#chef-accordion">
                   <div class="card-body">
                    Any information sent to us for registration is 100% secure. We will never share your information with anyone. We are PCI compliant. 
                    </div>
                </div>
              </div>
              <!-- Ques7 -->
              <div class="card">
                <div class="card-header" id="chef-heading7">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chef-ques7" aria-expanded="false" aria-controls="chef-ques7">
                        I have more questions, whom can I speak to ?
                      </button>
                    </h5>
                </div>
                <div id="chef-ques7" class="collapse" aria-labelledby="chef-heading7" data-parent="#chef-accordion">
                   <div class="card-body">
                    Please use our contact page to chat with live agent.
                    </div>
                </div>
              </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  

  <app-testimonials></app-testimonials>
<app-onboarding></app-onboarding>
<app-footer2></app-footer2>  