<app-signup></app-signup>
<app-header></app-header>


<section class="mt-5">
	<div class="container">
		<!-- <div class="row">
			
			<div class="col-9 mx-auto">
				<ul id="progressbar">
				      <li class="step-done"></li>  
				      <li class="active"></li> 
				      <li></li>
				</ul>
			</div>
		</div>
 --> 

		<div class="row mt-5">
			<div class="col-lg-8 checkout-updated">
				

				<div class="delivery-method">
					<div class="row mt-5">
						<div class="col-12">
							<div class="head-check">
								<h3><i class="fa fa-road"></i>Delivery Method</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div>
								<label for="home-delivery">
									<input type="radio" value="Home Delivery" name="delivery-method" id="home-delivery" checked>
									Home Delivery
								</label>
								<label for="takeaway">
									<input type="radio" value="Take Away" name="delivery-method" id="takeaway">
									Take Away
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="delivery-add">
					<div class="row mt-5">
						<div class="col-12">
							<div class="head-check">
								<h3><i class="fa fa-location-arrow"></i>Delivery Address</h3>
							</div>
						</div>
					</div>
					<div>
					<div class="row" *ngIf="currentUserObj != undefined">
						<form [formGroup]="deliveryAddress">
							<div class="col-md-6">
								<div class="form-group">
									<label>Name:</label>
									<input type="text" formControlName="name" name="del-add-name" value="{{currentUserObj.firstname}}" class="form-control">
									<div *ngIf="name.invalid && (name.dirty || name.touched)">
										<div *ngIf="name.errors.required" class="form-error alert-danger">Name Is Required</div>
								    </div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Email ID:</label>
									<input type="email" formControlName="email" name="del-add-email" value="{{currentUserObj.email}}" class="form-control">
									<div *ngIf="email.invalid && (email.dirty || email.touched)">
										<div *ngIf="email.errors.required" class="form-error alert-danger">Email Is Required</div>
										<div *ngIf="email.errors.email && !email.errors.required" class="form-error alert-danger">Invalid Email</div>
								    </div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="del-add" >
									<ul *ngIf="currentUserObj.customeraddresses[0] != undefined">
										<li><strong>Address:</strong><input type="text" name="del-add-add" value="{{currentUserObj.customeraddresses[0].address}}"></li>

										<li><strong>City:</strong><input type="text" name="del-add-city" value="{{currentUserObj.customeraddresses[0].city}}"></li>
										<li><strong>Country:</strong><input type="text" name="del-add-count" value="{{currentUserObj.customeraddresses[0].country}}"></li>
										<li><strong>Phone No:</strong><input type="text" name="del-add-num-1" value="{{currentUserObj.customeraddresses[0].phoneno}}"></li>
										<li><strong>Zipcode:</strong><input type="text" name="del-add-zip" value="{{currentUserObj.customeraddresses[0].zip}}"></li>
									</ul>
									<ul *ngIf="currentUserObj.customeraddresses[0] == undefined">
											<li><strong>Address:</strong><input type="text" name="del-add-add" ></li>
	
											<li><strong>City:</strong><input type="text" name="del-add-city" ></li>
											<li><strong>Country:</strong><input type="text" name="del-add-count" ></li>
											<li><strong>Phone No:</strong><input type="text" name="del-add-num-1" ></li>
											<li><strong>Zipcode:</strong><input type="text" name="del-add-zip" ></li>
										</ul>
									<div class="del-add-new">
										<a style="cursor: pointer;" data-toggle="modal" data-target="#myModal1"><i class="fa fa-pencil"></i> Add new address</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Phone: <span>(optional)</span></label>
									<input *ngIf="currentUserObj.customeraddresses[0] != undefined" type="text" formControlName="phone" name="del-add-num" value="{{currentUserObj.customeraddresses[0].phoneno}}" class="form-control">
									<input *ngIf="currentUserObj.customeraddresses[0] == undefined" type="text" formControlName="phone" name="del-add-num"  class="form-control">
									<div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
										<div *ngIf="phone.errors.required" class="form-error alert-danger">Phone Is Required</div>
								    </div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Who should the driver ask for ? <span>(optional)</span></label>
									<input type="text" name="del-add-n" placeholder="John Smith" class="form-control">
							
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>

				<div class="delivery-time">
					<div class="row mt-5">
						<div class="col-12">
							<div class="head-check">
								<h3><i class="fa fa-clock-o"></i>Delivery Time</h3>
							</div>
						</div>
					</div>
					<div>
					<div class="row">
					<form [formGroup]="deliveryTime">
						<div class="col-12">
							<div class="form-group">
								<label>Event Date *</label>
								<input  formControlName="date" type="date" name="del-date" id="del-date">
								<div *ngIf="date.invalid && (date.dirty || date.touched)">
										<div *ngIf="date.errors.required" class="form-error alert-danger">Date Is Required</div>
								</div>
								<div *ngIf="!date.invalid && !dateValidation" class="form-error alert-danger">Date Should be greater then today</div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label>Time *</label>
								<input  formControlName="time" type="time" name="del-time" id="del-time">
								<div *ngIf="time.invalid && (time.dirty || time.touched)">
									<div *ngIf="time.errors.required" class="form-error alert-danger">Time Is Required</div>
								</div>
							</div>
						</div>
					</form>
					</div>
					</div>
				</div>

				<div class="payment-sum">
					<div class="row mt-5">
						<div class="col-12">
							<div class="head-check">
								<h3><i class="fa fa-credit-card-alt"></i>Payment Summary</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<div>
								<label for="cod" (click)="paystatus(false)">
									<input type="radio" value="Cash" name="pay-meth" id="cod" checked>
									<img src="assets/images/cod.png" class="img-fluid" alt="">
									<h6>Cash on delivery</h6>
							
								</label>
								<label for="cc" (click)="paystatus(true)">
									<input type="radio" value="card" name="pay-meth" id="cc">
									<img src="assets/images/cc.png" class="img-fluid" alt="">
									<h6>Credit card / Debit card</h6>
								</label>
								
							</div>
							<div>
									<button class="btn custom-btn" data-toggle="modal" data-target="#myModal2" *ngIf="paycard">Add Card</button>
							</div>
							<div *ngIf="currentUserObj !=undefined && currentUserObj.cardinfo != undefined && paycard">
									<div class="profile-box saved-card-box" *ngFor="let card of currentUserObj.cardinfo">
										
						
										<div class="row">
										  <div class="col-sm-2">
											<h6>Card No</h6>
										  </div>
										  <div class="col-sm-10">
											<p>{{card.cardnumber}}</p>
										  </div>
										</div>
								
						
										<div class="add-address-del-btn" 	>
										
										<div *ngIf="saveCard != null && saveCard != undefined">
												<button (click)="deleteCard()" class="btn custom-btn">Delete</button>
										  <button (click)="selectCard(card)" class="btn custom-btn" *ngIf="saveCard.token != card.token">Select</button>
											<button (click)="UnselectCard(card)" class="btn custom-btn" *ngIf="saveCard.token == card.token">Un-Select</button>
										</div>
								
										<div *ngIf="saveCard == null || saveCard == undefined">
												<button (click)="deleteCard()" class="btn custom-btn">Delete</button>
											<button (click)="selectCard(card)" class="btn custom-btn" >Select</button>
										</div>
										</div>
									  </div>
									</div>
						</div>
					</div>
				</div>

				<div class="agree-check">
					<p>By ordering through Credit Card you agree to the <a routerLink="/term-conditions">Terms and conditions</a></p>
				</div>

				<div class="checkout-btn mt-5 mb-5 pb-5">
					<button class="btn custom-btn ng-star-inserted" [disabled]="!deliveryAddress.valid && !deliveryTime.valid && !dateValidation"  style="cursor: pointer;" (click)="PlaceOrder()">Checkout</button>
				</div>
			</div>

			<div class="col-md-4 checkout-sidebar">
				<div class="row">
					<div class="col-12">
						<div class="head-check">
								<h3><i class="fa fa-shopping-cart"></i>Your Order</h3>
							</div>
						<div class="checkout-sidebar-inner">
							<div class="customer-order">
								<ul>
									<li *ngFor="let item of orders.items">
										<div class="ord-q">
											1
										</div>
										<div class="order-name">
											<h5>{{item.name}}</h5>
											Serve {{item.qty}} - <br>
											Size: Regular
										</div>
										<div class="order-price">
											<span class="ord-curr">CAD</span>
											<span class="ord-price">{{item.totalprice}}</span>
										</div>
										<div class="ord-cancel">
											<a style="cursor: pointer;" (click)="RemoveItem(item)"><i class="fa fa-trash"></i></a>
										</div>
									</li>
									
								</ul>
							</div>

							<!-- price total table -->
							<div class="price-total">
								<div class="price-row">
									<div class="total-head">
										Food & Beverage
									</div>
									<div class="total-money">
										<span>CAD &nbsp;</span>
										<span class="subtotal">{{orders.total}}</span>
									</div>
								</div>
								<div class="price-row">
									<div class="total-head">
										Delivery Fee
									</div>
									<div class="total-money">
										<span>CAD &nbsp;</span>
										<span class="subtotal">{{orders.delivery}}</span>
									</div>
								</div>
								<div class="price-row">
									<div class="total-head">
										Sales Tax ({{taxpercentage}}%)
									</div>
									<div class="total-money">
										<span>CAD &nbsp;</span>
										<span class="subtotal">{{orders.taxAmount}}</span>
									</div>
								</div>
							</div>



							<div class="all-total-row">
								<div class="all-total">
									<div class="all-head">
										Total
									</div>
									<div class="all-money">
										CAD <span class="all-price">{{orders.total+orders.taxAmount+orders.delivery}}</span>
									</div>
								</div>
								<div class="all-total">
									<div class="all-head per-head">
										Price Per Head
									</div>
									<div class="all-money per-head">
										CAD <span class="all-price">{{((orders.total+orders.taxAmount+orders.delivery)/orders.totalqty).toFixed(2)}}</span>/Per Head
									</div>
								</div>
							</div>

							

							<div class="coupon-form">
								<div>
									<input style="margin-right: 0px" type="text" name="coupon-code" placeholder="Coupon Code" id="coupon" required>
									<input style="padding: 2px 10px;" type="submit" name="coupon-sub" class="btn-coup" (click)="Reedem()" value="Apply">
								</div>
							</div>
							<div class="edit-ord">
								<a (click)="EditOrder(orders.items[0].kitchenid)" style="cursor: pointer;" ><i class="fa fa-pencil" ></i> Edit your order</a>
							</div>
							
						</div>	
					</div>
				</div>
			</div>
		</div>

		
	</div>
</section>


  <!--Modal for Saved Address-->
  <div class="modal fade" id="myModal1">
		<div class="modal-dialog">
		  <div class="modal-content">
		  
			<!-- Modal Header -->
			<div class="modal-header">
			  <h4 class="modal-title">Add New Address</h4>
			  <button type="button" class="close" data-dismiss="modal" id="closeAdress">&times;</button>
			</div>
		   
			<!-- Modal body -->
			<div class="modal-body">
			  <div class="row">
				<div class="col-sm-12 mb-20">
				  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="1" style="width: 440px;height: 300px;">
					<agm-marker [latitude]="lat"  [longitude]="lng" [markerDraggable]="true"
					  (dragEnd)="markerDragEnd($event)"></agm-marker>
				  </agm-map>
				</div>
			  </div>
			  <form [formGroup]="Address" (ngSubmit)="addAddress()">
				<div class="form-group row">
				  <div class="col-sm-6">
					<input type="email" class="form-control" formControlName="phoneno" id="phone" placeholder="Phone No" name="phone">
				  </div>
				  <div class="col-sm-6">
					<input type="text" class="form-control" formControlName="address"  placeholder="Enter a Location" (keydown.enter)="$event.preventDefault()"  id="address" >
				  </div>
				</div>
				<div class="form-group row">
				  <div class="col-sm-6">          
					<input type="text" class="form-control" formControlName="city" id="city" placeholder="City" name="city" #city> 
				  </div>
				  <div class="col-sm-6">          
					  <input type="text" class="form-control" formControlName="zip" id="zip" placeholder="ZipCode" name="zip">
					</div>
				</div>
				<div class="form-group row">
				  <div class="col-sm-12">          
					<input type="text" class="form-control" id="country" formControlName="country" placeholder="Country" name="country"  #country>
				  </div>
				</div>
				<div class="form-group row">
				  <div class="col-sm-12">          
					<button class="btn custom-btn" [disabled]="!this.Address.valid">Saved Address</button>
				  </div>
				</div>
			  </form>
			</div>
			
		  </div>
		</div>
</div>
<div class="modal fade" id="myModal2">
		<div class="modal-dialog">
		  <div class="modal-content">
		  
			<!-- Modal Header -->
			<div class="modal-header">
			  <h4 class="modal-title">Add New Card</h4>
			  <button type="button" class="close" data-dismiss="modal" id="closeCardForm">&times;</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
			  <form  [formGroup]="Card" (ngSubmit)="verifyCard()">
				<div class="form-group row">
				  <label class="col-sm-4 col-form-label" for="holder">Card Number:</label>
				  <div class="col-sm-8">          
					<input type="text"  formControlName="cardnumber" class="form-control"  placeholder="Enter Card Number" name="holder">
					<div *ngIf="cardnumber.invalid && (cardnumber.dirty || cardnumber.touched)">
						<div *ngIf="cardnumber.errors.required" class="form-error alert-danger">Card Number Is Required</div>
					</div>
					<div  *ngIf="!cardnumber.invalid">
					  <div *ngIf="!validCn" class="form-error alert-danger">Should be of 16 Character</div>
					</div>
				  </div>
				</div>
				<div class="form-group row">
				  <label class="col-sm-4 col-form-label" for="expiration">Expiration Date:</label>
				  <div class="col-sm-4">          
					<input type="text" formControlName="expirymonth" class="form-control" id="mm" placeholder="MM" name="mm">
					<div *ngIf="expirymonth.invalid && (expirymonth.dirty || expirymonth.touched)">
						<div *ngIf="expirymonth.errors.required" class="form-error alert-danger">expirymonth Is Required</div>
					</div>
					<div  *ngIf="!expirymonth.invalid">
						<div *ngIf="!validM" class="form-error alert-danger">Should be of 2 Character</div>
					  </div>
				  </div>
				  <div class="col-sm-4">          
					<input type="text" formControlName="expiryyear" class="form-control" id="yy" placeholder="YY" name="yy">
					<div *ngIf="expiryyear.invalid && (expiryyear.dirty || expiryyear.touched)">
						<div *ngIf="expiryyear.errors.required" class="form-error alert-danger">expiryyear Is Required</div>
					</div>
					<div  *ngIf="!expiryyear.invalid">
						<div *ngIf="!validY" class="form-error alert-danger">Should be of 2 Character</div>
					</div>
				  </div>
				</div>
				<div class="form-group row">
				  <label class="col-sm-4 col-form-label" for="dob">CVV:</label>
				  <div class="col-sm-8">          
					<input type="text" formControlName="cvv" class="form-control" id="cvv" placeholder="CVV" name="cvv">
					<div *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)">
						<div *ngIf="cvv.errors.required" class="form-error alert-danger">cvv Is Required</div>
					</div>
					<div  *ngIf="!cvv.invalid">
						<div *ngIf="!validCvv" class="form-error alert-danger">Should be of 3 Character</div>
					</div>
				  </div>
				</div>
				<div class="form-group row">
				  <label class="col-sm-4 col-form-label" for="holder">First Name:</label>
				  <div class="col-sm-8">          
					<input type="text" formControlName="fname" class="form-control"   placeholder="Enter First Name" name="holder">
					<div *ngIf="fname.invalid && (fname.dirty || fname.touched)">
											  <div *ngIf="fname.errors.required" class="form-error alert-danger">fname Is Required</div>
									  </div>
				  </div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="holder">Last Name:</label>
					<div class="col-sm-8">          
					  <input type="text" formControlName="lname" class="form-control" placeholder="Enter Last Name" name="holder">
					  <div *ngIf="lname.invalid && (lname.dirty || lname.touched)">
						  <div *ngIf="lname.errors.required" class="form-error alert-danger">lname Is Required</div>
					  </div>
					</div>
				  </div>
				<div class="form-group row">
				  <label class="col-sm-4 col-form-label" for="holder">Zip</label>
				  <div class="col-sm-8">          
					<input type="text" formControlName="zip" class="form-control" placeholder="Enter Zip" name="holder">
					<div *ngIf="zip.invalid && (zip.dirty || zip.touched)">
						<div *ngIf="zip.errors.required" class="form-error alert-danger">zip Is Required</div>
					</div>
				  </div>
				</div>
				<div class="form-group row">
				  <label class="col-sm-4 col-form-label" for="holder">Address</label>
				  <div class="col-sm-8">          
					<input type="text" formControlName="address" class="form-control" placeholder="Enter Address" name="holder">
					<div *ngIf="address.invalid && (address.dirty || address.touched)">
						<div *ngIf="address.errors.required" class="form-error alert-danger">address Is Required</div>
					</div>
				  </div>
				</div>
				<div class="form-group row">        
				  <div class="offset-sm-4 col-sm-8">
					<button type="submit" (click)="WannaSave(true)" class="btn custom-btn pull-right">Save & Proceed </button>
					<button type="submit" (click)="WannaSave(false)" class="btn custom-btn pull-right">Don't</button>
				  </div>
				</div>
			  </form>
			</div>
			
		  </div>
		</div>
	</div>
  
  
<app-footer2></app-footer2>
  