<app-signup></app-signup>
<app-header></app-header>


<section class="mt-5">
	<div class="container">
		<!-- <div class="row">
			
			<div class="col-9 mx-auto">
				<ul id="progressbar">
				      <li class="step-done"></li>  
				      <li class="active"></li> 
				      <li></li>
				</ul>
			</div>
		</div>
 -->
		<div class="row mt-5">
			<div class="col-lg-8 checkout-updated">
				

				<div class="delivery-method">
					<div class="row mt-5">
						<div class="col-12">
							<div class="head-check">
								<h3><i class="fa fa-road"></i>Delivery Method</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<!-- <form>
								<label for="home-delivery">
									<input type="radio" name="delivery-method" id="home-delivery">
									Home Delivery
								</label>
								<label for="takeaway">
									<input type="radio" name="delivery-method" id="takeaway">
									Take Away
								</label>
							</form> -->
						</div>
					</div>
				</div>

				<div class="delivery-add">
					<div class="row mt-5">
						<div class="col-12">
							<div class="head-check">
								<h3><i class="fa fa-location-arrow"></i>Delivery Address</h3>
							</div>
						</div>
					</div>
					<!-- <form>
					<div class="row">
						
							<div class="col-md-6">
								<div class="form-group">
									<label>Name:</label>
									<input type="text" name="del-add-name" value="Dell De Cape" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Email ID:</label>
									<input type="email" name="del-add-email" value="abc@yourdomain.com" class="form-control">
								</div>
							</div>
							<div class="col-md-12">
								<div class="del-add">
									<ul>
										<li><strong>Address:</strong><input type="text" name="del-add-add" value="56 Cleak Ave, Bancroft, ON K0L 1C0, Canada"></li>
										<li><strong>Landmark:</strong><input type="text" name="del-add-land" placeholder="LCBO"></li>
										<li><strong>City:</strong><input type="text" name="del-add-city" value="Bancroft"></li>
										<li><strong>Country:</strong><input type="text" name="del-add-count" value="Canada"></li>
										<li><strong>Phone No:</strong><input type="text" name="del-add-num-1" value="6047100801"></li>
										<li><strong>Landline:</strong><input type="text" name="del-add-landline" value="6047100801"></li>
										<li><strong>Zipcode:</strong><input type="text" name="del-add-zip" value="K0L 1C0
"></li>
									</ul>
									<div class="del-add-new">
										<a href="#"><i class="fa fa-pencil"></i> Add new address</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Phone: <span>(optional)</span></label>
									<input type="text" name="del-add-num" value="000-000-0000" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Who should the driver ask for ? <span>(optional)</span></label>
									<input type="text" name="del-add-n" placeholder="John Smith" class="form-control">
								</div>
							</div>
					</div>
					</form> -->
				</div>

				<div class="delivery-time">
					<div class="row mt-5">
						<div class="col-12">
							<div class="head-check">
								<h3><i class="fa fa-clock-o"></i>Delivery Time</h3>
							</div>
						</div>
					</div>
					<!-- <form>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Event Date *</label>
								<input type="date" name="del-date" id="del-date">
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label>Time *</label>
								<input type="time" name="del-time" id="del-time">
							</div>
						</div>
					</div>
					</form> -->
				</div>

				<div class="payment-sum">
					<div class="row mt-5">
						<div class="col-12">
							<div class="head-check">
								<h3><i class="fa fa-credit-card-alt"></i>Payment Summary</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<!-- <form>
								<label for="cod">
									<input type="radio" name="pay-meth" id="cod">
									<img src="assets/images/cod.png" class="img-fluid" alt="">
									<h6>Cash on delivery</h6>
								</label>
								<label for="cc">
									<input type="radio" name="pay-meth" id="cc">
									<img src="assets/images/cc.png" class="img-fluid" alt="">
									<h6>Credit card / Debit card</h6>
								</label>
							</form> -->
						</div>
					</div>
				</div>

				<div class="agree-check">
					<p>By ordering through Credit Card you agree to the <a href="#">Terms and conditions</a></p>
				</div>

				<div class="checkout-btn mt-5 mb-5 pb-5">
					<a href="#">Checkout</a>
				</div>
			</div>

			<div class="col-md-4 checkout-sidebar">
				<div class="row">
					<div class="col-12">
						<div class="head-check">
								<h3><i class="fa fa-shopping-cart"></i>Your Order</h3>
							</div>
						<div class="checkout-sidebar-inner">
							<div class="customer-order">
								<ul>
									<li>
										<div class="ord-q">
											3
										</div>
										<div class="order-name">
											<h5>Hot & Sour Soup</h5>
											Serve 3 - <a href="#" class="clr-green">Need More ?</a><br>
											Size: Regular
										</div>
										<div class="order-price">
											<span class="ord-curr">CAD</span>
											<span class="ord-price">4.00</span>
										</div>
										<div class="ord-cancel">
											<a href="#"><i class="fa fa-trash"></i></a>
										</div>
									</li>
									<li>
										<div class="ord-q">
											3
										</div>
										<div class="order-name">
											<h5>Hot & Sour Soup</h5>
											Serve 3 - <a href="#" class="clr-green">Need More ?</a><br>
											Size: Regular
										</div>
										<div class="order-price">
											<span class="ord-curr">CAD</span>
											<span class="ord-price">4.00</span>
										</div>
										<div class="ord-cancel">
											<a href="#"><i class="fa fa-trash"></i></a>
										</div>
									</li>
									<li>
										<div class="ord-q">
											1
										</div>
										<div class="order-name">
											<h5>Hot & Sour Soup</h5>
											Serve 1 - <a href="#" class="clr-green">Need More ?</a><br>
											Size: Regular
										</div>
										<div class="order-price">
											<span class="ord-curr">CAD</span>
											<span class="ord-price">4.00</span>
										</div>
										<div class="ord-cancel">
											<a href="#"><i class="fa fa-trash"></i></a>
										</div>
									</li>	
									
								</ul>
								<div class="freeware">
									<div class="freeware-title">
										<span class="lab-free">Free</span>
										<h5>TableWare</h5>
										<span class="freeware-cond">if applicable</span>
									</div>
									<div class="freeware-opts">
										<!-- <form>
											<label for="napkins">
												<input type="checkbox" name="freeware" id="napkins">
												Napkins
											</label>
											<label for="plates">
												<input type="checkbox" name="freeware" id="plates">
												Plates
											</label>
											<label for="utensils">
												<input type="checkbox" name="freeware" id="utensils">
												Utensils
											</label>
										</form> -->
									</div>
								</div>
							</div>

							<!-- price total table -->
							<div class="price-total">
								<div class="price-row">
									<div class="total-head">
										Food & Beverage
									</div>
									<div class="total-money">
										<span>$</span>
										<span class="subtotal">24.10</span>
									</div>
								</div>
								<div class="price-row">
									<div class="total-head">
										Delivery Fee
									</div>
									<div class="total-money">
										<span>$</span>
										<span class="subtotal">5.99</span>
									</div>
								</div>
								<div class="price-row">
									<div class="total-head">
										Sales Tax (8.25%)
									</div>
									<div class="total-money">
										<span>$</span>
										<span class="subtotal">3.91</span>
									</div>
								</div>
							</div>

							<div class="tip">
								<div class="tip-head">
									<div class="tip-title">
										<h5>Tip for the driver</h5>
									</div>
									<div class="tip-amount">
										<span class="tip-curr">$</span> 24.00
									</div>
								</div>
								<div class="tip-perc">
									<!-- <form>
										<label for="ten">
											<input type="radio" name="tip" id="ten">
											10%
										</label>
										<label for="fifteen">
											<input type="radio" name="tip" id="fifteen">
											15%
										</label>
										<label for="twenty">
											<input type="radio" name="tip" id="twenty">
											20%
										</label>
										<input type="text" name="tip-amnt" id="tip-amnt" placeholder="Other Amount">
									</form> -->
								</div>
							</div>

							<div class="all-total-row">
								<div class="all-total">
									<div class="all-head">
										Total
									</div>
									<div class="all-money">
										CAD <span class="all-price">34.00</span>
									</div>
								</div>
								<div class="all-total">
									<div class="all-head per-head">
										Price Per Head
									</div>
									<div class="all-money per-head">
										CAD <span class="all-price">24.10</span>/Per Head
									</div>
								</div>
							</div>

							

							<div class="coupon-form">
								<!-- <form>
									<input type="text" name="coupon-code" placeholder="Coupon Code">
									<input type="submit" name="coupon-sub" class="btn-coup" value="Apply">
								</form> -->
							</div>
							<div class="edit-ord">
								<a href="#"><i class="fa fa-pencil"></i> Edit your order</a>
							</div>
							
						</div>	
					</div>
				</div>
			</div>
		</div>

		
	</div>
</section>



  
  
<app-footer2></app-footer2>
  