<section class="pt-5 pb-5 counter-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="counter">
            <img src="assets/images/satisfied.png" alt="">
            <p class="count-text ">Satisfied Customer</p>
           
            <h4 class=" count-title count-number" >{{SatisfiedCustomer}}</h4>
        
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter">
            <img src="assets/images/on-board-caters.png" alt="">
            <p class="count-text ">On Board Caters</p>
            <h4 class="count-title count-number">{{OnBoardCaters}}</h4>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter">
            <img src="assets/images/served-location.png" alt="">
            <p class="count-text ">Served Locations</p>
            <p>
            </p>
            <h4 class=" count-title count-number" >{{ServedLocation}}</h4>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter">
            <img src="assets/images/reviews.png" alt="">
            <p class="count-text ">Reviews</p>
            <h4 class=" count-title count-number">{{Reviews}}</h4>
          </div>
      </div>
    </div>
  </div>
</section>