
<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-driver">
	<div class="container">
		<div class="row text-center">
			<!-- <h1>About Us</h1> -->
		</div>
	</div>
</section>

<section class="pt-5 mt-5 pb-5">
	<div class="container">
		<div class="row mb-5">
				<div class="col-md-4">
						<h4>More Catering <span class="clr-green">Orders.</span></h4>
						<!-- <p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. </p> -->
		
						<h4>Incredible  <span class="clr-green">Support.</span></h4>
						<!-- <p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p> -->
		
						<h4>Free <span class="clr-green">Marketing</span></h4>
						<!-- <p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader. </p> -->
					</div>

			<div class="col-md-8">
				<div class="sign-form">
					<form [formGroup]="Driver" (ngSubmit)="driverSignup()">
						<div class="row">
							<div class="col-12 text-center">
								<h3>Please provide the following details</h3>
								<p>We just need a few details to get you up and running.</p>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="firstname" class="form-control" placeholder="First Name">
									<div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
											<div *ngIf="firstname.errors.required" class="form-error alert-danger">Firstname Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text"  formControlName="lastname" class="form-control" placeholder="Last Name">
									<div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
											<div *ngIf="lastname.errors.required" class="form-error alert-danger">Lastname Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" formControlName="email"  class="form-control" placeholder="Email">
									<div *ngIf="email.invalid && (email.dirty || email.touched)">
											<div *ngIf="email.errors.required" class="form-error alert-danger">Email Is Required</div>
											<div *ngIf="email.errors.email" class="form-error alert-danger">Invalid Email Address</div>
									</div>
									<div *ngIf="!email.invalid && !emailvalid" class="form-error alert-danger">Invalid Email Address</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="zip"class="form-control" placeholder="Zip Code">
									<div *ngIf="zip.invalid && (zip.dirty || zip.touched)">
											<div *ngIf="zip.errors.required" class="form-error alert-danger">Zip Code Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="password" formControlName="password"  class="form-control" placeholder="Password">
									<div *ngIf="password.invalid && (password.dirty || password.touched)">
											<div *ngIf="password.errors.required" class="form-error alert-danger">Password Is Required</div>
											
									</div>
									<div *ngIf="(!password.invalid) && passlenght" class="form-error alert-danger">Minimum Character 8 digits</div>
								</div>
							</div>
						
							<div class="col-md-6">
								<div class="form-group">
									<input type="password" formControlName="cpassword" class="form-control" placeholder="Confirm Password">
									<div *ngIf=" (cpassword.dirty || cpassword.touched)">
											<div *ngIf="!cpvalid" class="form-error alert-danger">Password Didn't Match</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<SELECT #by  class="form-control" (click)="Update(by)">
										<option  >By Bank</option>
										<option selected > By Cheque</option>
								
									</SELECT>
								</div>
							</div>
							<!-- <div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="license" class="form-control" placeholder="Driver's License">
									<div *ngIf="license.invalid && (license.dirty || license.touched)">
											<div *ngIf="license.errors.required" class="form-error alert-danger">License Is Required</div>
									</div>
								</div>
							</div> -->
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="paymentmethod" class="form-control" placeholder="Payment Method">
									<div *ngIf="paymentmethod.invalid && (paymentmethod.dirty || paymentmethod.touched)">
											<div *ngIf="paymentmethod.errors.required" class="form-error alert-danger">Payment Method Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="AccountName"  class="form-control" placeholder="Account Name">
									<div *ngIf="AccountName.invalid && (AccountName.dirty || AccountName.touched)">
											<div *ngIf="AccountName.errors.required" class="form-error alert-danger">Account Name Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="AccountNumber"  class="form-control" placeholder="Account Number">
									<div *ngIf="AccountNumber.invalid && (AccountNumber.dirty || AccountNumber.touched)">
											<div *ngIf="AccountNumber.errors.required" class="form-error alert-danger">Account Number Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="BankName"  class="form-control" placeholder="Bank Name">
									<div *ngIf="BankName.invalid && (BankName.dirty || BankName.touched)">
											<div *ngIf="BankName.errors.required" class="form-error alert-danger">Bank Name Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
									<div class="form-group">
											<input type="file" class="form-control"   name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event,'cheque')" accept="image/x-png,image/jpeg,image/jpg, image/x-PNG,image/JPEG,image/JPG"/>
											<span class="gfe-input-placeholder"> Void Cheque * </span>
									</div>
								</div>
								<div class="col-md-6">
										<div class="form-group">
												<input type="file" class="form-control" name="single"  ng2FileSelect [uploader]="uploader" (change)="onChange($event,'police')" accept="image/x-png,image/jpeg,image/jpg, image/x-PNG,image/JPEG,image/JPG"/>
												<span class="gfe-input-placeholder"> Police Certificate * </span>
										</div>
									</div>
									<div class="col-md-6">
											<div class="form-group">
													<input type="file" class="form-control" name="single"    ng2FileSelect [uploader]="uploader" (change)="onChange($event,'insurance')" accept="image/x-png,image/jpeg,image/jpg, image/x-PNG,image/JPEG,image/JPG"/>
													<span class="gfe-input-placeholder"> Car Insurance * </span>
											</div>
										</div>
										<div class="col-md-6">
												<div class="form-group">
														<input type="file" class="form-control" name="single"   ng2FileSelect [uploader]="uploader" (change)="onChange($event,'numplate')" accept="image/x-png,image/jpeg,image/jpg, image/x-PNG,image/JPEG,image/JPG"/>
														<span class="gfe-input-placeholder"> Car Numberplate * </span>
												</div>
											</div>
											<div class="col-md-6">
													<div class="form-group">
															<input type="file" class="form-control" name="single"  ng2FileSelect [uploader]="uploader" (change)="onChange($event,'liecense')" accept="image/x-png,image/jpeg,image/jpg, image/x-PNG,image/JPEG,image/JPG"/>
															<span class="gfe-input-placeholder"> License * </span>
													</div>
												</div>

			
							<div class="col-md-12">
								<div class="form-group text-center">
										<!--  -->
										<button *ngIf="wait" class="btn" ><i class="fa fa-spinner fa-spin"></i> </button>
									<input *ngIf="!wait" type="submit" name="" [disabled]="!Driver.valid || passlenght || !cpvalid || !emailvalid"  class="btn" value="Sign up">
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cta drive-cta mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h3 class="clr-white mb-0">No hassles. No complications. No contracts.</h3>
			</div>
		</div>
	</div>
</section>

<!-- <section class=" mt-5 mb-5 pb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center pb-3">
          <h3>Solutions for off-prem success.</h3>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/monitor.png" class="img-fluid">
          <div class="work-des">
            <h5>Caterdaay Marketplace</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a style="cursor: pointer;">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/shopping-cart.png" class="img-fluid">
          <div class="work-des">
            <h5>Caterdaay Ordering</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a style="cursor: pointer;">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/settings.png" class="img-fluid">
          <div class="work-des">
            <h5>Caterdaay Manage</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a style="cursor: pointer;">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/truck.png" class="img-fluid">
          <div class="work-des">
            <h5>Caterdaay Dispatch</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a style="cursor: pointer;">Explore</a>
          </div>
        </div>
      </div>
      <div class="row mb-5 mt-5 pt-5">
        <div class="col-12 text-center">
          <a style="cursor: pointer;" class="join-btn">Join Today</a>
        </div>
      </div>
    </div>
  </section> -->
  
  
    <app-footer2></app-footer2>