<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-driver">
	<div class="container">
		<div class="row text-center">
			<!-- <h1>About Us</h1> -->
		</div>
	</div>
</section>

<section class="pt-5 mt-5 pb-5">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-4">
				<h4>More Catering <span class="clr-green">Orders.</span></h4>
				<p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. </p>

				<h4>Operational <span class="clr-green">Support.</span></h4>
				<p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>

				<h4>Insights you can <span class="clr-green">Act On.</span></h4>
				<p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader. </p>
			</div>

			<div class="col-md-8">
				<div class="sign-form">
					<!-- <form method="" action="">
						<div class="row">
							<div class="col-12 text-center">
								<h3>Dummy Title For Form</h3>
								<p>We just need a few details to get you up and running.</p>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="First Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="Last Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" name="" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="Phone Number">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="date" name="" class="form-control" placeholder="Date Of Birth">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<SELECT class="form-control">
										<option selected>How did you hear about us?</option>
										<option>Facebook</option>
										<option>Twitter</option>
									</SELECT>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="National Identity">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="Driver's License">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="Address">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="City">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="State">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea placeholder="About Youself" class="form-control">
										
									</textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group text-center">
									<input type="submit" name="" class="btn" value="Sign up">
								</div>
							</div>
						</div>
						
					</form> -->
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cta drive-cta mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h3 class="clr-white mb-0">No signup fees. No contracts. No hoops to jump through.</h3>
			</div>
		</div>
	</div>
</section>

<section class=" mt-5 mb-5 pb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center pb-3">
          <h3>Solutions for off-prem success.</h3>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/monitor.png" class="img-fluid">
          <div class="work-des">
            <h5>CaterDaay Marketplace</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a href="#">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/shopping-cart.png" class="img-fluid">
          <div class="work-des">
            <h5>CaterDaay Ordering</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a href="#">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/settings.png" class="img-fluid">
          <div class="work-des">
            <h5>CaterDaay Manage</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a href="#">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/truck.png" class="img-fluid">
          <div class="work-des">
            <h5>CaterDaay Dispatch</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a href="#">Explore</a>
          </div>
        </div>
      </div>
      <div class="row mb-5 mt-5 pt-5">
        <div class="col-12 text-center">
          <a href="#" class="join-btn">Join Today</a>
        </div>
      </div>
    </div>
  </section>
  
  
    <app-footer2></app-footer2>