
<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-driver">
	<div class="container">
		<div class="row text-center">
			<!-- <h1>About Us</h1> -->
		</div>
	</div>
</section>

<section class="pt-5 mt-5 pb-5">
	<div class="container">
		<div class="row mb-5">
				<div class="col-md-4">
						<h4>More Catering <span class="clr-green">Orders.</span></h4>
						<!-- <p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. </p> -->
		
						<h4>Incredible  <span class="clr-green">Support.</span></h4>
						<!-- <p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p> -->
		
						<h4>Free <span class="clr-green">Marketing</span></h4>
						<!-- <p class="pb-3">This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader. </p> -->
					</div>

			<div class="col-md-8">
				<div class="sign-form">
					<form [formGroup]="Driver" (ngSubmit)="driverSignup()">
						<div class="row">
							<div class="col-12 text-center">
								<h3>Please provide the following details</h3>
								<p>We just need a few details to get you up and running.</p>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="firstname" class="form-control" placeholder="First Name">
									<div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
											<div *ngIf="firstname.errors.required" class="form-error alert-danger">Firstname Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text"  formControlName="lastname" class="form-control" placeholder="Last Name">
									<div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
											<div *ngIf="lastname.errors.required" class="form-error alert-danger">Lastname Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" formControlName="email"  class="form-control" placeholder="Email">
									<div *ngIf="email.invalid && (email.dirty || email.touched)">
											<div *ngIf="email.errors.required" class="form-error alert-danger">Email Is Required</div>
											<div *ngIf="email.errors.email" class="form-error alert-danger">invalid Email Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="phone"class="form-control" placeholder="Phone Number">
									<div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
											<div *ngIf="phone.errors.required" class="form-error alert-danger">Phone Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="date" formControlName="dob"  class="form-control" placeholder="Date Of Birth">
									<div *ngIf="dob.invalid && (dob.dirty || dob.touched)">
											<div *ngIf="dob.errors.required" class="form-error alert-danger">DOB Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<SELECT  class="form-control">
										<option disabled>How did you hear about us?</option>
										<option selected>Facebook</option>
										<option>Twitter</option>
									</SELECT>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="identity" class="form-control" placeholder="National Identity">
									<div *ngIf="identity.invalid && (identity.dirty || identity.touched)">
											<div *ngIf="identity.errors.required" class="form-error alert-danger">National Identity Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="license" class="form-control" placeholder="Driver's License">
									<div *ngIf="license.invalid && (license.dirty || license.touched)">
											<div *ngIf="license.errors.required" class="form-error alert-danger">License Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" formControlName="address" class="form-control" placeholder="Address">
									<div *ngIf="address.invalid && (address.dirty || address.touched)">
											<div *ngIf="address.errors.required" class="form-error alert-danger">Address Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="password" formControlName="password"  class="form-control" placeholder="Password">
									<div *ngIf="password.invalid && (password.dirty || password.touched)">
											<div *ngIf="password.errors.required" class="form-error alert-danger">Password Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="city"  class="form-control" placeholder="City">
									<div *ngIf="city.invalid && (city.dirty || city.touched)">
											<div *ngIf="city.errors.required" class="form-error alert-danger">City Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" formControlName="state"  class="form-control" placeholder="State">
									<div *ngIf="state.invalid && (state.dirty || state.touched)">
											<div *ngIf="state.errors.required" class="form-error alert-danger">State Is Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea formControlName="yourself" placeholder="About Youself" class="form-control"></textarea>
									<div *ngIf="yourself.invalid && (yourself.dirty || yourself.touched)">
											<div *ngIf="yourself.errors.required" class="form-error alert-danger">Intro is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group text-center">
									<input type="submit" name="" [disabled]="!Driver.valid" class="btn" value="Sign up">
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cta drive-cta mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h3 class="clr-white mb-0">No hassles. No complications. No contracts.</h3>
			</div>
		</div>
	</div>
</section>

<!-- <section class=" mt-5 mb-5 pb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center pb-3">
          <h3>Solutions for off-prem success.</h3>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/monitor.png" class="img-fluid">
          <div class="work-des">
            <h5>Caterdaay Marketplace</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a style="cursor: pointer;">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/shopping-cart.png" class="img-fluid">
          <div class="work-des">
            <h5>Caterdaay Ordering</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a style="cursor: pointer;">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/settings.png" class="img-fluid">
          <div class="work-des">
            <h5>Caterdaay Manage</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a style="cursor: pointer;">Explore</a>
          </div>
        </div>
        <div class="col-md-3 sol-off">
          <img src="assets/images/truck.png" class="img-fluid">
          <div class="work-des">
            <h5>Caterdaay Dispatch</h5>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
          </div>
          <div class="btn">
            <a style="cursor: pointer;">Explore</a>
          </div>
        </div>
      </div>
      <div class="row mb-5 mt-5 pt-5">
        <div class="col-12 text-center">
          <a style="cursor: pointer;" class="join-btn">Join Today</a>
        </div>
      </div>
    </div>
  </section> -->
  
  
    <app-footer2></app-footer2>