<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-abt">

  
    <div class="container">
      <div class="row text-center">
        <h1>About Us</h1>
      </div>
    </div>
  </section>
  
  <section class="pt-5 mt-5 olive-bg">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-9">
          <h3 class="head">Our Story</h3>
          <p>CaterDaay was founded in 2016 in Toronto, Canada, and is the world’s largest marketplace for event catering.<br>
            We make it simple to order food online for your office, parties, get-togethers and more. CaterDaay connects people with a network of reliable local caterers and restaurants across Canada. And we’re not just an elegant website. We feature a team of A-grade customer support professionals who are ready to help whenever and wherever. CaterDaay began with a handful of restaurants in Toronto. As our service matured, we expanded across Canada. Today, CaterDaay offers a curated list of the best business caterers for hundreds of cities and towns across Canada. 
            </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-10">
          <h4 class="head-small">Catering for All</h4>
          <p>Whether you are looking for a caterer for a client meeting, wedding or birthday party, CaterDaay makes it effortless to order online from a vast catalogue of caterers accompanied by A-grade customer service.</p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-10">
          <h4 class="head-small">Save Time and Make It Simple</h4>
          <p>CaterDaay ensures that you will never again need to hassle contacting restaurants and asking if they can deliver to your location. Instead, you can save valuable time and immediately identify caterers who not only serve to your address, but meet your food type, budget, dietary requirements and more. Best part of it all is that you can create, cancel or modify your orders anytime at all.</p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-12 pb-3">
          <h3 class="head">How it Works</h3>
          <p>This is dummy copy. It is not meant to be read.</p>
        </div>
        <div class="col-md-4 h-t-w">
          <i class="flaticon-salad"></i>
          <div class="work-des">
            <h5>Discover caterers in your area that feature a variety of cuisines</h5>
            <p>Select from a variety of available meal plans and discover items that are freshly made to maximize your experiences.</p>
          </div>
        </div>
        <div class="col-md-4 h-t-w">
          <i class="flaticon-shopping-cart"></i>
          <div class="work-des">
            <h5>Add to cart and then select your order date & time</h5>
            <p>Simply add to cart food you are craving and get deals into the bucket to place an order whenever and wherever you want.</p>
          </div>
        </div>
        <div class="col-md-4 h-t-w">
          <i class="flaticon-fast-food"></i>
          <div class="work-des">
            <h5>Enjoy your freshly made meals</h5>
            <p>From restaurants to top master chef special items, get anything as per your budget and time and enjoy freshly prepared food from best caters.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="olive-bg">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-9">
          <h3 class="head"><span class="clr-green">Benefits</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="benefit-box">
            <div class="benefit-box-inner">
              <h4>For Who?</h4>
              <p> Anyone who needs catering for a party, social event or corporate function.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="benefit-box">
            <div class="benefit-box-inner">
              <h4>But Why?</h4>
              <p>Convenient, Time-saving, Fresh & Delicious… we could go on!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="benefit-box">
            <div class="benefit-box-inner">
              <h4>Eat What?</h4>
              <p> Caterers offering cuisines from all across the world.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="benefit-box">
            <div class="benefit-box-inner">
              <h4>How?</h4>
              <p>Select which food items you want delivered.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="benefit-box">
            <div class="benefit-box-inner">
              <h4>Deliver When?</h4>
              <p>Schedule your delivery at anytime. Even as much as a year in advance!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="benefit-box">
            <div class="benefit-box-inner">
              <h4>And Where?</h4>
              <p>Canada for now but our mission is worldwide!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row pb-5 pt-5 mt-5 mb-5">
      <div class="col-md-5 mx-auto">
        <h4 class="clr-green">In simple words, we want you to realize that eating healthy food is vital for a good and stable living. And right now, there is not a single platform out there which offers a one-stop app to order home meals. Plus! our service is not just for consumers but chefs as well.</h4>
      </div>
    </div> -->
  </section>
  <app-testimonials></app-testimonials>
  <app-onboarding></app-onboarding>

  <app-footer2></app-footer2>
  