<section class="pt-5 pb-5 test-sec">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="heading" appScrollEnterance anim="from-top">Testimonials</h3>
        </div>
      </div>
      <owl-carousel-o [options]="customOptions">
      <div class="row test-slider testi owl-carousel owl-theme">
        <ng-template carouselSlide>
        <div class="testimonial item" >
          <div class="test-desc">
            <h4>Robert Smith</h4>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial item" >
          <div class="test-desc">
            <h4>Robert Smith</h4>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial item" >
          <div class="test-desc">
            <h4>Robert Smith</h4>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial item" >
          <div class="test-desc">
            <h4>Robert Smith</h4>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
          </div>
        </div>
      </ng-template>
      </div>
    </owl-carousel-o>
    </div>
  </section>