<div class="frontcartdetail" (click)="stopPropagation($event)" >
  <div class="cartdetail" >

    <!-- If Cart is empty this will display -->
   <div  *ngIf=" orders == undefined">
      <h6 class="restoname" style="text-align: center" >
      </h6>
      <div style=" padding-top: 15px;text-align: center;">
          No Item In Cart
      </div >
        <div class="checkoutdetail">
          </div>
   </div>

  <div *ngIf=" orders != undefined">
    <h6 class="restoname" >
      <b>{{ orders.kitchenName | uppercase }} </b>
    </h6>
    <div class="items">
      <table class="table itemoname">
        <tbody>
          <tr class="text-center">
            <td colspan="5">
              <b> Menu Items</b>
            </td>
          </tr>
          <tr *ngFor="let items of orders.items ">
            <td class="input-group">
  
              <span class="input-group-addon inputgroupy padding0 " style="font-size: 18px;padding: 5px !important">
               <b> {{items.qty}}</b>
              </span>
            
            </td>
          
            <td class="cart-item cart-item-width">
              {{items.name}}
            </td>
            <td class="currency">
              <small style="font-size: 15px">
                <b>
                  CAD
                </b>
                {{items.totalprice}}
              </small>
            </td>
            <td>
              <i (click)="RemoveCombo(items)" class="fas fa-trash-alt" style="font-size: 17px"></i>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="checkoutdetail">
        <div style="padding: 5px">
          <b>
            Sub Total : &nbsp; &nbsp;
            <span class="pull-right">
              <b> CAD</b>
              <span> {{orders.total}}</span>
            </span>
          </b>
        </div>
       
      </div>
    </div>


  <button (click)="proceedToCheckout()" [disabled]="orders.length == 0" style="padding: 2px" class="btn btn-danger btn-block">
      CHECK OUT
    </button>
  </div>
</div>
</div>