<div class="frontcartdetail" (click)="stopPropagation($event)">
  <div class="cartdetail">
    <h4 class="restoname" *ngFor="let order of orders">
      <b>{{ orders.name | uppercase }} </b>
    </h4>
    <div class="items">
      <table class="table itemoname">
        <tbody>
          <tr class="text-center">
            <td colspan="5">
              <b> Menu Items</b>
            </td>
          </tr>
          <tr *ngFor="let items of order.items ">
            <td class="input-group">
              <i class="fas fa-minus" (click)="AddMoreItem(items)"></i>
              <span class="input-group-addon inputgroupy padding0 ">
                <input class="menuQty mine" min="0" type="number" />
              </span>
              <i class="fas fa-plus" (click)="RemoveItem(item)"></i>
            </td>

            <td class="cart-item cart-item-width">
              {{items.name}}
            </td>
            <td class="currency">
              <small style="font-size: 9px">
                <b>
                  {{orders.currency}}
                </b>
                {{items.price}}
              </small>
            </td>
            <td>
              <i class="fas fa-trash-alt"></i>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="checkoutdetail">
        <div style="padding: 10px">
          <b>
            Sub Total : &nbsp; &nbsp;
            <span class="pull-right">
              <b>  {{orders.currency}}</b>
              <span> {{orders.total}}</span>
            </span>
          </b>
        </div>
        <button class="btn btn-danger btn-block">
          CHECK OUT
        </button>
      </div>
    </div>
    
  </div>
</div>