<footer class="long-foot" >
    <div class="container">
      <div class="row foot-row">
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-sm-5 text-center">
              <a href="/"><img src="assets/images/logo-white-updated.png" class="logo-foot"></a>
              <ul class="socials">
                <li><a href="JavaScript:Void(0)"  target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="JavaScript:Void(0)"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="JavaScript:Void(0)"  target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="JavaScript:Void(0)"  target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div class="col-sm-7">
              <h5>Order business catering from thousands of restaurants and caterers nationwide</h5>
              <p class="mbr-text text-muted display-7" style="word-break: break-word;word-break: initial;color:#5ba946">
                  <strong>Enter your email to Subscribe for deals &amp; discounts!</strong>
                </p>
                <div class="form-group shadow" style="position: relative;">
                  <form [formGroup]="Subscribe" (ngSubmit)="onSubscribe()">
                    <input type="text" class="form-control" formControlName="email" placeholder="Please enter Email ID..."  >
                  
                    <button class="btn px-4 btn-danger display-4 subcribebtn" type="submit" [disabled]="!Subscribe.valid">
                      <i class="fa fa-arrow-right"></i>
                    </button>
                  </form>
                </div>
            </div>
            <div class="col-sm-7">
        
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-4">
              <h4>Company</h4>
              <ul class="foot-menu">
                <li><a routerLink="/"  class="nav-link active">Home</a></li>
                <li><a routerLink="/aboutus" class="nav-link">About Us</a></li>
                <li><a  routerLink="/contactus" class="nav-link">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4>Info</h4>
              <ul class="foot-menu">
                <li><a href="JavaScript:Void(0)"  class="nav-link">Testimonials</a></li>
                <li><a routerLink="/term-conditions" class="nav-link">Terms & Conditions</a></li>
                <li><a href="JavaScript:Void(0)"  class="nav-link">Privacy & Policy</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4>Get Started</h4>
              <ul class="foot-menu">
                <li><a href="JavaScript:Void(0)"  class="nav-link">Start an Order</a></li>
                <li><a href="JavaScript:Void(0)"  class="nav-link">Become a Caterer</a></li>
                <li><a href="JavaScript:Void(0)"  class="nav-link">Enterprise</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row foot-row states">
        <div class="col-12">
          <h4>Canada</h4>	
        </div>
      
        <div class="col">
          <ul class="foot-menu">
              <li><a href="JavaScript:Void(0)"  class="nav-link">Nunavut</a></li>
            <li><a href="JavaScript:Void(0)" class="nav-link">Alberta</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">British Columbia</a></li>
      
        
          </ul>
        </div>
        <!-- <div class="col">
          <ul class="foot-menu">
     
        

          </ul>
        </div> -->
        <div class="col">
          <ul class="foot-menu">
              <li><a href="JavaScript:Void(0)"  class="nav-link">New Brunswick</a></li>
              <li><a href="JavaScript:Void(0)"  class="nav-link">Newfoundland and Labrador</a></li>
              <li><a href="JavaScript:Void(0)"  class="nav-link">Saskatchewan</a></li>
            <!-- <li><a href="JavaScript:Void(0)"  class="nav-link">Kansas</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Kentucky</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Louisiana</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Maine</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Maryland</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Massachusetts</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Michigan</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Minnesota</a></li> -->
          </ul>
        </div>
        <div class="col">
          <ul class="foot-menu">
              <li><a href="JavaScript:Void(0)"  class="nav-link">Prince Edward Island</a></li>
              <li><a href="JavaScript:Void(0)"  class="nav-link">Quebec</a></li>
              <li><a href="JavaScript:Void(0)"  class="nav-link">Northwest Territories</a></li>
            <!-- <li><a href="JavaScript:Void(0)"  class="nav-link">Mississippi</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Missouri</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Montana</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Nebraska</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Nevada</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">New Hampshire</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">New Jersey</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">New Mexico</a></li> -->
          </ul>
        </div> 
        <div class="col">
          <ul class="foot-menu">

                 
  
              <li><a href="JavaScript:Void(0)"  class="nav-link">Yukon</a></li>
              <li><a href="JavaScript:Void(0)"  class="nav-link">Nova Scotia</a></li>


            <!-- <li><a href="JavaScript:Void(0)"  class="nav-link">New York</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">North Carolina</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">North Dakota</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Ohio</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Oklahoma</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Oregon</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Pennsylvania</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Rhode Island</a></li> -->
          </ul>
        </div>
        <!-- <div class="col">
          <ul class="foot-menu">
   
            <li><a href="JavaScript:Void(0)"  class="nav-link">South Carolina</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">South Dakota</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Tennessee</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Texas</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Utah</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Vermont</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Virginia</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Washington</a></li>
          </ul>
        </div> -->
        <!-- <div class="col">
          <ul class="foot-menu">
        
            <li><a href="JavaScript:Void(0)"  class="nav-link">West Virginia</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Wisconsin</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Wyoming</a></li>
          </ul>
        </div> -->
      </div>
      <div class="row foot-row">
        <div class="col-12">
          <h4>Top Brands</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
          <ul class="foot-menu">
            <li><a href="JavaScript:Void(0)"  class="nav-link">Coming Soon</a></li>
            <!-- <li><a href="JavaScript:Void(0)"  class="nav-link">McAlsiter's Deli</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">On The Boder</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Potbelly Sandwich Shop</a></li> -->
          </ul>
        </div>
        <!-- <div class="col-lg-4 col-sm-6">
          <ul class="foot-menu">
            <li><a href="JavaScript:Void(0)"  class="nav-link">Dickey's Barbecue Pit</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Moe's Southwest Grill</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Panda Express</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Togo's Sandwiches</a></li>
          </ul>
        </div> -->
      </div>
      <!-- <div class="row foot-row food-types">
        <div class="col-12">
          <h4>Food Types</h4>
        </div>
        <div class="col">
          <ul class="foot-menu">
            <li><a href="JavaScript:Void(0)"  class="nav-link">Taco</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Cookie</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">BBQ</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Donuts</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="foot-menu">
            <li><a href="JavaScript:Void(0)"  class="nav-link">Breakfast</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Mexican</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Food Truck</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Pizza</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="foot-menu">
            <li><a href="JavaScript:Void(0)"  class="nav-link">Italian</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Sandwich</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Bagels</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Sushi</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="foot-menu">
            <li><a href="JavaScript:Void(0)"  class="nav-link">Chinese</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Ice Cream</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Kosher</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Coffee</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="foot-menu">
            <li><a href="JavaScript:Void(0)"  class="nav-link">Boxed Lunch</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Indian</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Mediterranean</a></li>
            <li><a href="JavaScript:Void(0)"  class="nav-link">Seafood</a></li>
          </ul>
        </div>
      </div> -->
      <div class="row copyrights">
        <div class="col-12">© 2019, <a href="/">Caterdaay</a>. All Rights Reserved. Designed & Developed.</div>
      </div>
    </div>
  </footer>
  <div class="back-to-top" appBackToTop>
    
  </div>

  