<section class="pb-5 pt-5 services">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h3 class="heading" appScrollEnterance anim="from-bottom">How Can <span class="clr-green font-h">Caterdaay</span> Work For You?</h3>
          <p appScrollEnterance anim="from-bottom"><strong class="clr-red">Creative. Delightful & On-Time Food Catering Services</strong></p>
          <p appScrollEnterance anim="from-bottom">Caterdaay is all about getting foods in hand without any hassle. From delicious food items to the wedding, parties catering, we offer a variety of food delivering services that reach right from the kitchen of masterchef</p>
        </div>
      </div>	
      <div class="row mb-5 work-slider">
          <ngx-slick-carousel   [config]="slideConfig" class="carousel"  #slickModal="slick-carousel" >
        <div ngxSlickItem  class="work-slide">
          <div class="row service serv-1" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4>Caterers</h4>
              <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
              <a href="https://beta.caterdaay.com/chefsign">Signup</a>
            </div>
          </div>
        </div>
        <div ngxSlickItem  class="work-slide">
          <div class="row service serv-2" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4>Driver</h4>
              <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
              <a href="driver-signup">Signup</a>
            </div>
          </div>
        </div>
        <div ngxSlickItem   class="work-slide">
          <div class="row service serv-3" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4>Waiter</h4>
              <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
              <a href="#">Signup</a>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
      </div>
    </div>
  </section>