<section class="pb-5 pt-5 services">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h3 class="heading" appScrollEnterance anim="from-bottom">How Can <span class="clr-green font-h">Caterdaay</span> Work For You?</h3>
          <p appScrollEnterance anim="from-bottom"><strong class="clr-red">Providing Delicious & On-Time Food Catering Services</strong></p>
          <p appScrollEnterance anim="from-bottom">Caterdaay is all about hassle-free catering. We offer a variety of caterers that can deliver for any occasion. From birthday parties to corporate functions, we are your one stop shop for all your catering needs!</p>
        </div>
      </div>	

        <ngx-slick-carousel class="row mb-5 work-slider"  [config]="slideConfig" class="carousel"  #slickModal="slick-carousel" >
        <div ngxSlickItem  class="work-slide">
          <div class="row service serv-1" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4 style="margin-bottom:100px">Caterers</h4>
             
              <a href="https://beta.caterdaay.com/chefsign">Signup</a>
            </div>
          </div>
        </div>
        <div ngxSlickItem  class="work-slide">
          <div class="row service serv-2" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4 style="margin-bottom:100px">Driver</h4>
           
              <a routerLink="/driver-signup">Signup</a>
            </div>
          </div>
        </div>
        <div ngxSlickItem   class="work-slide">
          <div class="row service serv-3" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4 style="margin-bottom:100px">Waiter</h4>
             
              <a routerLink="/waiter-signup">Signup</a>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    
    </div>
  </section>