<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-terms">
	<div class="container">
		<div class="row text-center">
			<h1>Privacy Policy</h1>
		</div>
	</div>
</section>


<section class="pt-5 mt-5 pb-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
        <p>This Privacy Policy discloses the privacy practices for Caterdaay.</p>
        <p>This privacy policy has been compiled to facilitate Caterdaay’s Customers, Food Preparers, Deliverers and those who are concerned with how their Personally identifiable information' is being used online. </p>
        <p>Personally identifiable information, as used in privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Here you would get a clear idea of how we take, use, save and protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>















				<h4 class="mt-4 mb-3">When do we collect information?</h4>
				<p>We collect information from you when you register on our platform as a Customer, Food Preparer and/or Deliverer,  and use our and third party (Food Preparers and Deliverers) services, place your order, subscribe to a newsletter, fill out a form or enter information on our site.</p>



				<h4 class="mt-4 mb-3">What personal information do we collect from the people that visit our blog and website?</h4>
				<p>In appropriate way, when ordering or registering on our site, you may be asked to enter your name, email address, mailing address, payment information, or other details to assist you with your experience.</p>
        
        
        
        
        <h4 class="mt-4 mb-3">How do we use your information?</h4>
				<p>Your information can be used in the following manners:</p>
        <ul style="font-size: 15px">
          <li>
            To allow us to better service you in responding to your customer service requests.
          </li>
          <li>
            To administer a contest, promotion, survey or other site feature.
          </li>
          <li>
            	To improve our business in order to better serves you.
          </li>
          <li>
            To provide delivery services
          </li>
          <li>
            	To quickly process your transactions.
          </li>
          <li>
            	To send periodic emails regarding your order or other products and services.
          </li>
          <li>
            To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.
          </li>
        </ul>
				
				
				
				
				
				
				
				
				
				
				
				
				
			
				<h4 class="mt-4 mb-3">How do we protect visitor information?</h4>
        <ul style="font-size: 15px">
          <li>
          	We do scan our website regularly for security measures and known vulnerabilities in order to make your visit to our site safe and sound. We are PCI compliant.
          </li>
          <li>
          	Your personal information is contained behind secured networks and is only accessible by a limited number of people who have special access rights to such systems, and are required to keep the information confidential. 
          </li>
          <li>
          	We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.
          </li>
          <li>
            All transactions are processed through a gateway provider and are not stored or processed on our servers
          </li>
        </ul>

        <h4 class="mt-4 mb-3">Do we use cookies?</h4>
        <p>We use cookies to help us remember and process the food items in your order. These are small files that a site or its service provider transfers to your computer's hard drive through your web browser if you allow, that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. </p>
        <p>They are also used to help us understand your preferences based on previous or current site activity, which allow us to give you with advance services. As well as we also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
        <p>We use cookies in following way:</p>
        <ul style="font-size: 15px">
          <li>
          	Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.
          </li>
          <li>
          	Help remember and process the food items in the shopping cart.
          </li>
          <li>
            Understand and save user's preferences for future visits
          </li>
        </ul>
        <p>You can choose to turn off all cookies, or you can choose to have your computer warn you each time a cookie is being sent. You can do this through your browser settings. Usually each browser keeps different setting, so look at your browser's help menu to learn the correct way to modify your cookies. In case you disable cookies, some features will be disabled. It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.</p>



        <h4 class="mt-4 mb-3">Do we use cookies?</h4>
        <p>You can send a request for removing your information removed by clicking on the contact Us/Live Chat button on this or the home page. Please keep in mind that we may maintain information about an individual sales transaction in order to maintain that transaction and for record keeping purposes.</p>


        <h4 class="mt-4 mb-3">Third Party Disclosures</h4>
<p>We never sell, transfer, or otherwise trade to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We release your information when we believe that release is all right to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

<h4 class="mt-4 mb-3">Third party Links</h4>
<p>We may include or offer third party services on our website at our discretion. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>



<h4 class="mt-4 mb-3">Transfer of Your Personal Information</h4>
<p>Your information, including personal information, may be transferred and maintained on computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this, Privacy Policy and no transfer of your personal information will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

<h4 class="mt-4 mb-3">Disclosure of Your Personal Information</h4>
<p>If we are involved in a merger, acquisition or asset sale, your personal information may be transferred. We may provide notice before your personal information is transferred and becomes subject to a different Privacy Policy. Under certain circumstances, we may be required to disclose your personal information if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>

<h4 class="mt-4 mb-3">Retention of Your Personal Information</h4>
<p>We will retain your personal information only for as long as is necessary for the purposes set out in this Privacy Policy.  We will retain and use your information to the extent necessary to comply with our legal obligations. For example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>

<h4 class="mt-4 mb-3">Service Providers</h4>
<p>We can employ third party companies and individuals to facilitate our website ("Service Providers"), to provide our website on our behalf, to perform website-related services or to assist us in analyzing how our website is used. These third-parties have access to your personal information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
<ul style="font-size: 20px">
  <li>
   <b> Analytics</b>
  </li>
</ul>
<p>
  Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.
</p>
<p>
  You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity. For more information on the privacy practices of Google, please visit the Google’s Privacy & Terms.
</p>
<ul style="font-size: 20px">
  <li>
   <b> Payments processors</b>
  </li>
</ul>
<p>
  We provide paid services on our website. In that case, we use third-party services for payment processing (e.g. payment processors). We will not store or collect your payment card details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. 
</p>
<h4 class="mt-4 mb-3">Contacting Us</h4>
<p>If there are any questions regarding this privacy policy please emails us at customersupport@caterdaay.com</p>
</div>
		</div>
	</div>
</section>

  
     
 <app-testimonials></app-testimonials>
 <app-onboarding></app-onboarding>
 <app-footer2></app-footer2>