<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-chef">
    <div class="container">
      <div class="row text-center">
        <h1>Popular Chef/Resturants</h1>
      </div>
    </div>
  </section>
  
  <section class="pt-5 mt-5 pb-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 chef-list" *ngFor="let chef of currentchefs">
          <div class="chef">
            <figure>
              <a href="#"><img src="assets/images/chef-1.jpg" class="chef-img"></a>
            </figure>
            <div class="chef-desc">
              <h4><a href="#">{{chef.restaurantname}}</a></h4>
              <h6>{{chef.country}}</h6>
              <div class="cont-rev">
                <div class="star-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="rating">
                  <span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
                </div>
              </div>
              <div class="chef-tags">
                <a href="#" class="tag">American</a>
                <a href="#" class="tag">Indian</a>
                <a href="#" class="tag">Mexican</a>
                <a href="#" class="tag">Canadian</a>
                <a href="#" class="tag">Labanese</a>
                <a href="#" class="tag">Continental</a>
              </div>
              <div class="chef-dishes">
                <div class="chef-d">
                  <figure>
                    <a href="#"><img src="assets/images/dish-1.jpg" class=""></a>
                  </figure>
                  <div class="dish-desc">
                    <h4><a href="#">Fast Food</a></h4>
                    <p>Burgers, Sandwich, Pizza,Shawarma and much more</p>
                  </div>
                </div>
                <div class="chef-d">
                  <figure>
                    <a href="#"><img src="assets/images/dish-1.jpg" class=""></a>
                  </figure>
                  <div class="dish-desc">
                    <h4><a href="#">Fast Food</a></h4>
                    <p>Burgers, Sandwich, Pizza,Shawarma and much more</p>
                  </div>
                </div>
                <div class="chef-d">
                  <figure>
                    <a href="#"><img src="assets/images/dish-1.jpg" class=""></a>
                  </figure>
                  <div class="dish-desc">
                    <h4><a href="#">Fast Food</a></h4>
                    <p>Burgers, Sandwich, Pizza,Shawarma and much more</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="row text-center">
        <a href="#" id="loadMore">Load More</a>
      </div>
    </div>
  </section>
  <app-testimonials></app-testimonials>
  <app-onboarding></app-onboarding>
  <app-footer2></app-footer2>
  
  