<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-chef">
    <div class="container">
      <div class="row text-center">
        <h1>Popular Chef/Resturants</h1>
      </div>
    </div>
  </section>
  
  <section class="pt-5 mt-5 pb-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 chef-list"  *ngFor="let chefs of displatchefs" style="display: block">
          <div class="chef">
            <figure>
              <a style="cursor: pointer;" (click)="menuPage(chefs._id)"><img src="http://localhost:4024/uploads/{{chefs.image[0]}}" class="chef-img"></a>
            </figure>
            <div class="chef-desc">
              <h4><a style="cursor: pointer;" (click)="menuPage(chefs._id)">{{chefs.restaurantname}}</a></h4>
              <h6>{{chefs.country}}</h6>
              <div class="cont-rev">
                <div class="star-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="rating">
                  <span>({{chefs.rating}})</span><span><a style="cursor: pointer;" (click)="menuPage(chefs._id)">({{chefs.reviews}} Reviews)</a></span>
                </div>
              </div>
              <div class="chef-tags"> 
              
                <a *ngFor="let cuisine of chefs.cuisineNames" style="cursor: pointer;" (click)="menuPage(chefs._id)" class="tag">{{cuisine}}</a>
         
              </div>
              <div class="chef-dishes">
                <div class="chef-d" *ngFor="let menu of chefs.menus">
                  <figure>
                    <a style="cursor: pointer;" (click)="menuPage(chefs._id)"><img src="http://localhost:4024/uploads/{{menu.image}}" style="max-width: 100px;max-height: 80px" class=""></a>
                  </figure>
                  <div class="dish-desc">
                    <h4><a style="cursor: pointer;" (click)="menuPage(chefs._id)">{{menu.name}}</a></h4>
                    <p>Burgers, Sandwich, Pizza,Shawarma and much more</p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="row text-center">
        <a  (click)="push4Loadmore()" id="load" *ngIf="loadmore">Load More</a>
      </div>
    </div>
  </section>
  <app-testimonials></app-testimonials>
  <app-onboarding></app-onboarding>
  <app-footer2></app-footer2>
  
  