<app-signup></app-signup>
<app-header></app-header>


<section>
  <div class="container">
    <div class="tab-box">
      <div class="row">
        <div class="account-title">
          <h3>Account</h3>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <ul class="nav nav-tabs custom-nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" (click) ="AddClass('account')" >
              <a class="nav-link "  id="account"  [ngClass]="{'active': currentclass=='account'}"  data-toggle="tab" data-target="#account-info" role="tab" aria-controls="account-info">Account Info</a>
            </li>
            <li class="nav-item" (click) ="AddClass('favourite')">
              <a class="nav-link"  id="favourite"  [ngClass]="{'active': currentclass=='favourite'}"  data-toggle="tab" data-target="#my-favourite" role="tab" aria-controls="my-favourite">My Favourite</a>
            </li>
            <li class="nav-item" (click) ="AddClass('address')">
              <a class="nav-link" id="address"   [ngClass]="{'active': currentclass=='address'}"  data-toggle="tab" data-target="#saved-addresses" role="tab" aria-controls="saved-addresses">Saved Addresses</a>
            </li>
            <li class="nav-item" (click) ="AddClass('orders')" >
              <a class="nav-link"  id="orders"  [ngClass]="{'active': currentclass=='orders'}"  data-toggle="tab" data-target="#my-orders" role="tab" aria-controls="my-orders">My Orders</a>
            </li>
            <li class="nav-item" (click) ="AddClass('pastorder')">
              <a class="nav-link" id="pastorder"   [ngClass]="{'active': currentclass=='pastorder'}" data-toggle="tab" data-target="#past-orders" role="tab" aria-controls="past-orders">Past Orders</a>
            </li>
            <li class="nav-item"(click) ="AddClass('savecard')" >
              <a class="nav-link" id="savecard"  [ngClass]="{'active': currentclass=='savecard'}" data-toggle="tab" data-target="#saved-card" role="tab" aria-controls="saved-card">Saved Card</a>
            </li>
            <li class="nav-item" routerLink="/profile" [queryParams]="{point: 'account'}">
              <a class="nav-link" style="background-color: #c5c1c1">Review</a>
            </li>
            <li class="nav-item" routerLink="/profile" [queryParams]="{point: 'account'}">
              <a class="nav-link" style="background-color: #c5c1c1">Refer</a>
            </li>
            <li class="nav-item" routerLink="/profile" [queryParams]="{point: 'account'}">
              <a class="nav-link"  style="background-color: #c5c1c1">Rewards</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active " id="account-info" role="tabpanel">
              <form [formGroup]="Profile" (ngSubmit)="updateProfile()">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="email">Email:</label>
                    <div class="col-sm-10">
                      <input [readonly]="true" type="email" class="form-control" formControlName="email" placeholder="example@email.com" name="email">
                      <div *ngIf="email.invalid && (email.dirty || email.touched)">
                          <div *ngIf="email.errors.required" class="form-error alert-danger">Email Is Required</div>
                          <div *ngIf="email.errors.email" class="form-error alert-danger">invalid Email Is Required</div>
                      </div>
                      <div class="changepass">
                        <a data-toggle="modal" data-target="#myModal3">Change Password</a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="first">First Name</label>
                    <div class="col-sm-10">          
                      <input type="text" formControlName="firstname" class="form-control" id="first" placeholder="First Name" name="first">
                      <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                          <div *ngIf="firstname.errors.required" class="form-error alert-danger">Firstname Is Required</div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="last">Last Name</label>
                    <div class="col-sm-10">          
                      <input type="text"  formControlName="lastname" class="form-control" id="last" placeholder="Last Name" name="last">
                      <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                          <div *ngIf="lastname.errors.required" class="form-error alert-danger">Lastname Is Required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="home">Home Phone</label>
                    <div class="col-sm-10">          
                      <input type="number" formControlName="homephone" class="form-control" id="home" placeholder="Home Phone" name="home">
                      <div *ngIf="homephone.invalid && (homephone.dirty || homephone.touched)">
                          <div *ngIf="homephone.errors.required" class="form-error alert-danger">Phone Is Required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="cell">Cell Phone</label>
                    <div class="col-sm-10">          
                      <input type="number" formControlName="cellphone" class="form-control" id="cell" placeholder="Cell Phone" name="cell">
                      <div *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)">
                          <div *ngIf="cellphone.errors.required" class="form-error alert-danger">cellphone Is Required</div>
                      </div>
                    </div>
                  </div>
               
                  <div class="form-group row">        
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" [disabled]="!Profile.valid" class="btn custom-btn">Update</button>
                    </div>
                  </div>
                </form>
            </div>
            <div class="tab-pane" id="my-favourite" role="tabpanel">
              <div class="profile-box favourite-box" *ngFor="let resturant of favouriteItems">
                <h3>{{resturant.resturantName}}</h3>
                <div class="row">
                  <div class="col-sm-4 pr-0" *ngFor="let items of resturant.item">
                    <div class="media">
                      <div class="media-left">
                        <img class="media-object imageitem-size" src="http://localhost:4024/uploads/{{items.image}}">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">
                          <a data-toggle="tooltip" href="javascript:void(0);" title="Punjabi Chicken Karahi">{{items.name}} </a>
                        </h5>
                        <p><small><b>CAD</b></small>{{items.price}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="saved-addresses" role="tabpanel">
              <div class="add-address-btn">
                <button class="btn custom-btn" (click)="autoComplete()" data-toggle="modal" data-target="#myModal1">Add Address</button>
              </div>
              <div  class="profile-box saved-addresses-box" *ngIf="customerAddress == undefined || customerAddress.address == undefined">
                <p style="text-align: center">There are no saved addresses to display</p>
              </div>
              <div class="profile-box saved-addresses-box" *ngIf="customerAddress != undefined && customerAddress.address != undefined">
                
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Home Address</h5>
                  </div>
                  <div class="col-sm-9" *ngIf="customerAddress.address != undefined">
                    <p>{{customerAddress.address}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <h5>Mobile Number</h5>
                  </div>
                  <div class="col-sm-9" *ngIf="customerAddress.phoneno != undefined">
                    <p>{{customerAddress.phoneno}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <h5>City</h5>
                  </div>
                  <div class="col-sm-9" *ngIf="customerAddress.city != undefined">
                    <p>{{customerAddress.city}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <h5>Zipcode</h5>
                  </div>
                  <div class="col-sm-9"  *ngIf="customerAddress.zip != undefined">
                    <p>{{customerAddress.zipcode}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <h5>Country</h5>
                  </div>
                  <div class="col-sm-9" *ngIf="customerAddress.country != undefined">
                    <p>{{customerAddress.country}}</p>
                  </div>
                </div>

                <div class="add-address-del-btn">
                  <span>Default Address</span><button (click)="deleteUserAddress()" class="btn custom-btn">Delete</button>
                </div>
              
              </div>
            </div>
            <div class="tab-pane" id="my-orders" role="tabpanel"  >
              <div class="profile-box" *ngIf="allOrders != undefined">
                <div *ngIf="allOrders.length == 0">You didn't have any order</div>
                <div *ngIf="allOrders.length != 0">
                <div class="row" *ngFor="let orders of allOrders" style="margin-bottom: 10px">
                  <div class="col-sm-4">
                    <div class="myorder-img">
                      <img src="http://localhost:4024/uploads/{{orders.kitchenDetail.image[0]}}" class="img-fluid" alt="img" />
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="myorder-content">
                      <p><span>{{orders.kitchenDetail.restaurantname}}</span> Order {{orders.status}}</p>
                      <p><span>Order ID:</span> {{orders._id}}</p>
                      <p><span>Order Amount:</span> CAD {{orders.total}}</p>
                      <p><span>Placed at:</span> {{orders.ordertiming.create}}</p>
                      <p><span>Delivery at:</span> {{orders.ordertiming.datetime}}</p>
                      <p><a data-toggle="modal" style="cursor: pointer;" (click)="selectOrder(orders)"  data-target="#myModal4">VIEW DETAIL <span class="fa fa-angle-right"></span></a></p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="tab-pane" id="past-orders" role="tabpanel" *ngIf="pastOrders != undefined">
                <div class="profile-box" >
                  <div *ngIf="pastOrders.length == 0">You didn't have any past order</div>
                  <div  *ngIf="pastOrders.length != 0">
                  <div class="row" *ngFor="let orders of pastOrders" style="margin-bottom: 10px">
                    <div class="col-sm-4">
                      <div class="myorder-img">
                        <img src="http://localhost:4024/uploads/{{orders.kitchenDetail.image[0]}}" class="img-fluid" alt="img" />
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="myorder-content">
                        <p><span>{{orders.kitchenDetail.restaurantname}}</span> Order {{orders.status}}</p>
                        <p><span>Order ID:</span> {{orders._id}}</p>
                        <p><span>Order Amount:</span> CAD {{orders.total}}</p>
                        <p><b>Placed Time: </b>{{orders.ordertiming.create}}</p>
                        <p><b>Delivery Time: </b>{{orders.ordertiming.datetime}}</p>
                     
                        <p><a data-toggle="modal" style="cursor: pointer;" (click)="SelectPorder(orders)"  data-target="#myModal5">VIEW DETAIL <span class="fa fa-angle-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            <!-- <div class="tab-pane" id="past-orders" role="tabpanel">
              <div class="profile-box">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="myorder-img">
                      <img src="http://localhost:4024/uploads/file-1564484655197.png" class="img-fluid" alt="img" />
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="myorder-content">
                      <p><span>Abdullah Prod</span> Order Prepared Waiting For Driver!</p>
                      <p><span>Order ID:</span> fe8579</p>
                      <p><span>Order Amount:</span> PKR 32.87</p>
                      <p><span>Today:</span> Sep 26, 2019, 7:10:04 AM</p>
                      <p><a data-toggle="modal" data-target="#myModal5">VIEW DETAIL <span class="fa fa-angle-right"></span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="tab-pane" id="saved-card" role="tabpanel">
                <button class="btn custom-btn" data-toggle="modal" data-target="#myModal2">Add Card</button>
                <hr />
                <div *ngIf=" userdata.cardinfo != undefined">
                <div class="profile-box saved-card-box" *ngFor="let card of userdata.cardinfo">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6>Card Type</h6>
                      </div>
                      <div class="col-sm-10">
                        <p>{{card.cardtype}}</p>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-sm-2">
                        <h6>Card Number</h6>
                      </div>
                      <div class="col-sm-10">
                        <p>{{card.cardnumber}}</p>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-sm-2">
                        <h6>Expiry Month</h6>
                      </div>
                      <div class="col-sm-10">
                        <p></p>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-sm-2">
                        <h6>Expiry Year</h6>
                      </div>
                      <div class="col-sm-10">
                        <p></p>
                      </div>
                    </div>
    
                    <div class="add-address-del-btn">
                      <span>Default Card</span><button (click)="deleteCard()" class="btn custom-btn">Delete</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="review" role="tabpanel">Review</div>
            <div class="tab-pane" id="refer" role="tabpanel">
                <h1 class="mt-0" style="margin-top: 0">Invite your friends to caterdaay.com! </h1>
                <h3>Get up to 25,000 points per friend, plus 15 points per invite.</h3>
                <p>Love how quick, easy, and reliable mealdaay.com? Share us with your friends! We'll give you an instant 15
                    points per invite sent (up to 500 points). Plus, you'll both get points on orders they place with us. 1 point per
                    $1 in food, up to 25,000 points per friend. Refer as many friends as you want!
                </p>
                <br />
                <div action="#">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="email">Invite by email:</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="email" placeholder="example@email.com" name="email">
                    </div>
                  </div>
                  <div class="form-group row">        
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn custom-btn">Send invites</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="rewards" role="tabpanel">Rewards</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!--Modal for Saved Address-->
  <div class="modal fade" id="myModal1">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add New Address</h4>
            <button type="button" class="close" data-dismiss="modal" id="closeAdress">&times;</button>
          </div>
         
          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12 mb-20">
                <agm-map [latitude]="lat" [usePanning]="true" [longitude]="lng" [zoom]="zoom" style="width: 440px;height: 300px;">
                  <agm-marker [latitude]="lat"  [longitude]="lng" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
              </div>
            </div>
            <form [formGroup]="Address" (ngSubmit)="addAddress()">
              <div class="form-group row">
                <div class="col-sm-6">
                  <input type="email" class="form-control" formControlName="phoneno" id="phone" placeholder="Phone No" name="phone">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="country" formControlName="country" placeholder="Country" name="country"  #country>
                
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">          
                  <input type="text" class="form-control" formControlName="city" id="city" placeholder="City" name="city" #city> 
                </div>
                <div class="col-sm-6">          
                    <input type="text" class="form-control" formControlName="zip" id="zip" placeholder="ZipCode" name="zip">
                  </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">          
                    <input type="text" class="form-control" formControlName="address"  placeholder="Enter a Location" (keydown.enter)="$event.preventDefault()"  id="address" >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">          
                  <button class="btn custom-btn" [disabled]="!this.Address.valid">Saved Address</button>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
  </div>
  
  <!--Modal for Saved Address-->
  <div class="modal fade" id="myModal2">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add New Card</h4>
            <button type="button" class="close" data-dismiss="modal" id="closeCardForm">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <form  [formGroup]="Card" (ngSubmit)="verifyCard()">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="holder">Card Number:</label>
                <div class="col-sm-8">          
                  <input type="text"  formControlName="cardnumber" class="form-control"  placeholder="Enter Card Number" name="holder">
                  <div *ngIf="cardnumber.invalid && (cardnumber.dirty || cardnumber.touched)">
                      <div *ngIf="cardnumber.errors.required" class="form-error alert-danger">Card Number Is Required</div>
                  </div>
                  <div  *ngIf="!cardnumber.invalid">
                    <div *ngIf="!validCn" class="form-error alert-danger">Should be of 16 Character</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="expiration">Expiration Date:</label>
                <div class="col-sm-4">          
                  <input type="text" formControlName="expirymonth" class="form-control"  placeholder="MM" name="mm">
                  <div *ngIf="expirymonth.invalid && (expirymonth.dirty || expirymonth.touched)">
                      <div *ngIf="expirymonth.errors.required" class="form-error alert-danger">expirymonth Is Required</div>
                  </div>
                  <div  *ngIf="!expirymonth.invalid">
                      <div *ngIf="!validM" class="form-error alert-danger">Should be of 2 Character</div>
                    </div>
                </div>
                <div class="col-sm-4">          
                  <input type="text" formControlName="expiryyear" class="form-control" id="yy" placeholder="YY" name="yy">
                  <div *ngIf="expiryyear.invalid && (expiryyear.dirty || expiryyear.touched)">
                      <div *ngIf="expiryyear.errors.required" class="form-error alert-danger">expiryyear Is Required</div>
                  </div>
                  <div  *ngIf="!expiryyear.invalid">
                      <div *ngIf="!validY" class="form-error alert-danger">Should be of 2 Character</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="dob">CVV:</label>
                <div class="col-sm-8">          
                  <input type="text" formControlName="cvv" class="form-control" id="cvv" placeholder="CVV" name="cvv">
                  <div *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)">
                      <div *ngIf="cvv.errors.required" class="form-error alert-danger">cvv Is Required</div>
                  </div>
                  <div  *ngIf="!cvv.invalid">
                      <div *ngIf="!validCvv" class="form-error alert-danger">Should be of 3 Character</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="holder">First Name:</label>
                <div class="col-sm-8">          
                  <input type="text" formControlName="fname" class="form-control"   placeholder="Enter First Name" name="holder">
                  <div *ngIf="fname.invalid && (fname.dirty || fname.touched)">
											<div *ngIf="fname.errors.required" class="form-error alert-danger">fname Is Required</div>
									</div>
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="holder">Last Name:</label>
                  <div class="col-sm-8">          
                    <input type="text" formControlName="lname" class="form-control" placeholder="Enter Last Name" name="holder">
                    <div *ngIf="lname.invalid && (lname.dirty || lname.touched)">
                        <div *ngIf="lname.errors.required" class="form-error alert-danger">lname Is Required</div>
                    </div>
                  </div>
                </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="holder">Zip</label>
                <div class="col-sm-8">          
                  <input type="text" formControlName="zip" class="form-control" placeholder="Enter Zip" name="holder">
                  <div *ngIf="zip.invalid && (zip.dirty || zip.touched)">
                      <div *ngIf="zip.errors.required" class="form-error alert-danger">zip Is Required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="holder">Address</label>
                <div class="col-sm-8">          
                  <input type="text" formControlName="address" class="form-control" placeholder="Enter Address" name="holder">
                  <div *ngIf="address.invalid && (address.dirty || address.touched)">
                      <div *ngIf="address.errors.required" class="form-error alert-danger">address Is Required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">        
                <div class="offset-sm-4 col-sm-8">
                  <button type="submit" class="btn custom-btn pull-right">Add Card</button>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
  </div>
  
  <!--Modal for Reset Password-->
  <div class="modal fade" id="myModal3">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Reset Password</h4>
            <button type="button" class="close" data-dismiss="modal" id="closeRP">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <form  [formGroup]="ResetPassword" (ngSubmit)="ResetPass()">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label pr-0" for="holder">Old Password</label>
                <div class="col-sm-8">          
                  <input type="password"  formControlName="oldpassword" class="form-control"  placeholder="Old Password" name="holder">
                  <div *ngIf="oldpassword.invalid && (oldpassword.dirty || oldpassword.touched)">
                    <div *ngIf="oldpassword.errors.required" class="form-error alert-danger">Old Password Is Required</div>
									</div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label pr-0" for="expiration">New Password</label>
                <div class="col-sm-8">          
                  <input type="password" formControlName="newpassword" class="form-control"  placeholder="New Password" name="mm">
                  <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)">
                    <div *ngIf="newpassword.errors.required" class="form-error alert-danger">New Password Is Required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label pr-0" for="expiration">Confirm Password</label>
                <div class="col-sm-8">          
                  <input type="password" formControlName="confirmpassword" class="form-control"  placeholder="Confirm Password" name="yy">
                  <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
                      <div *ngIf="confirmpassword.errors.required" class="form-error alert-danger">Confirm Password Is Required</div>   
                  </div>
                  <div *ngIf="!confirmpassword.invalid">
                      <div *ngIf="(checkpassword)" class="form-error alert-danger">Password Didnot Match</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">        
                <div class="offset-sm-4 col-sm-8">
                  <button type="submit" [disabled]="(!ResetPassword.valid) && (!validCn) && (!validCvv) && (!validM) && (!validY)" class="btn custom-btn pull-right">Confirm</button>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
  </div>

  <!--Modal for My Order Detail-->
  <div class="modal fade" id="myModal4">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Order Detail</h4>
            <button type="button" class="close" data-dismiss="modal" id="closeRP">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <div class="profile-box">
                <h5> Menu Items</h5> 
                <div class="p-15">
                  <div class="stepwizard-order">
                    <div class="stepwizard-row-order">
                      <div class="stepwizard-step-order stpewiz-grey"  >
                        <button class="btn btn-default btn-circle-order " [ngClass]="{'btn-danger': orderStatus >= 1}" type="button">1</button>
                        <p>Order Placed</p>
                      </div>
                      <!-- <div class="stepwizard-step-order stpewiz-green">
                        <button class="btn btn-default btn-circle-order btn-danger" type="button">2</button>
                        <p>Payment <br>Received</p>
                      </div> -->
                      <!-- <div class="stepwizard-step-order " [ngClass]="{'stpewiz-green': orderStatus >= 2}"> -->
                         <div class="stepwizard-step-order stpewiz-grey">
                        <button class="btn btn-default btn-circle-order btn-danger" [ngClass]="{'btn-danger': orderStatus >= 2}" type="button">2</button>
                        <p>Order Accepted <br>
                       
                        </p>
                      </div>

                      
                      <!-- <div class="stepwizard-step-order stpewiz-green">
                        <button class="btn btn-default btn-circle-order btn-danger" type="button">4</button>
                        <p>
                          Send Order Request  for Driver!
                        </p>
                      </div>
                      <div class="stepwizard-step-order stpewiz-grey">
                        <button class="btn btn-default btn-circle-order" type="button">5</button>
                        <p> Driver Accepted Order Request</p>
                      </div>
                      <div class="stepwizard-step-order stpewiz-grey">
                        <button class="btn btn-default btn-circle-order" type="button">6</button>
                        <p> On the Way </p>
                      </div> -->
                      <div class="stepwizard-step-order stpewiz-grey" >
                        <button class="btn btn-default btn-circle-order" [ngClass]="{'btn-danger': orderStatus >= 3}" type="button">3</button>
                        <p> Order <br>
                          Delivered
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-box">
                <div class="row">
                  <div class="col-sm-1 p-0">
                    <img src="http://localhost:4024/uploads/file-1564484655197.png" class="img-fluid" alt="img" />
                  </div>
                  <div class="col-sm-11">
                    <div class="profile-box2-content" *ngIf="orderForPopup != undefined">
                      <p>{{orderForPopup.kitchenDetail.restaurantname}}</p>
                      <p>Order {{orderForPopup.status}}</p>
                      <p><b>Delivery Time: </b>{{orderForPopup.ordertiming.datetime}}</p>
                      <p><b>Placed Time: </b>{{orderForPopup.ordertiming.create}}</p>
                      <p><b>Address: </b> {{orderForPopup.kitchenDetail.address}}</p>
                      <p><b>Order ID: </b> {{orderForPopup._id}}</p>
                      <p><b>Payment Type: </b>{{orderForPopup.paymenttype}}</p>
                      </div>
                  </div>
                </div>
              </div>

              <div class="profile-box3 profile-box" *ngIf="orderForPopup != undefined">
                <h5>Daily Menu Item</h5>
                <div class="row" *ngFor="let items of orderForPopup.combo">
                  <div class="col-sm-1 p-0">
                    <img src="http://localhost:4024/uploads/{{items.image}}" class="img-fluid" alt="img" />
                  </div>
                  <div class="col-sm-11">
                    <div class="profile-box3-content">
                      <p>{{items.name}} CAD {{items.finalcomboprice}} X {{items.qty}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-box4 profile-box">
                <h5>Delivery Timings</h5>
                <div class="profile-box4-content" *ngIf="orderForPopup != undefined">
                  <p> {{orderForPopup.ordertiming.datetime}}</p>
                </div>
              </div>

              <div class="profile-box5 profile-box">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="profile-box5-left">
                      <p>Subtotal</p>
                      <p>Delivery Charges</p>
                      <p >Included tax</p>
              
                      <p>Total Amount</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="profile-box5-right" *ngIf="orderForPopup != undefined">
                      <p><small>PKR</small> {{orderForPopup.subtotal.toFixed(2)}}</p>
                      <p><small>PKR</small> {{orderForPopup.deliveryCharges.toFixed(2)}}</p>
                      <p><small>PKR</small> {{orderForPopup.tax.toFixed(2)}}</p>
                      <p><small>PKR</small> {{orderForPopup.total.toFixed(2)}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      </div>
  </div>




  <div class="modal fade" id="myModal5">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Order Detail</h4>
            <button type="button" class="close" data-dismiss="modal" id="closeRP">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="profile-box">
              <h5> Menu Items</h5> 
              <div class="p-15">
                <div class="stepwizard-order">
                  <div class="stepwizard-row-order">
                    <div class="stepwizard-step-order stpewiz-grey"  >
                      <button class="btn btn-default btn-circle-order " [ngClass]="{'btn-danger': orderStatus >= 1}" type="button">1</button>
                      <p>Order Placed</p>
                    </div>
                    <!-- <div class="stepwizard-step-order stpewiz-green">
                      <button class="btn btn-default btn-circle-order btn-danger" type="button">2</button>
                      <p>Payment <br>Received</p>
                    </div> -->
                    <!-- <div class="stepwizard-step-order " [ngClass]="{'stpewiz-green': orderStatus >= 2}"> -->
                       <div class="stepwizard-step-order stpewiz-grey">
                      <button class="btn btn-default btn-circle-order btn-danger" [ngClass]="{'btn-danger': orderStatus >= 2}" type="button">2</button>
                      <p>Order Accepted <br>
                     
                      </p>
                    </div>

                    
                    <!-- <div class="stepwizard-step-order stpewiz-green">
                      <button class="btn btn-default btn-circle-order btn-danger" type="button">4</button>
                      <p>
                        Send Order Request  for Driver!
                      </p>
                    </div>
                    <div class="stepwizard-step-order stpewiz-grey">
                      <button class="btn btn-default btn-circle-order" type="button">5</button>
                      <p> Driver Accepted Order Request</p>
                    </div>
                    <div class="stepwizard-step-order stpewiz-grey">
                      <button class="btn btn-default btn-circle-order" type="button">6</button>
                      <p> On the Way </p>
                    </div> -->
                    <div class="stepwizard-step-order stpewiz-grey" >
                      <button class="btn btn-default btn-circle-order" [ngClass]="{'btn-danger': orderStatus >= 3}" type="button">3</button>
                      <p> Order <br>
                        Delivered
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="profile-box">
                <div class="row">
                  <div class="col-sm-1 p-0">
                    <img src="http://localhost:4024/uploads/file-1564484655197.png" class="img-fluid" alt="img" />
                  </div>
                  <div class="col-sm-11">
                    <div class="profile-box2-content" *ngIf="porderForPopup != undefined">
                      <p>{{porderForPopup.kitchenDetail.restaurantname}}</p>
                      <p>Order {{porderForPopup.status}}</p>
                      <p><b>Delivery Time: </b>{{porderForPopup.ordertiming.datetime}}</p>
                      <p><b>Placed Time: </b>{{porderForPopup.ordertiming.create}}</p>
                      <p><b>Address: </b> {{porderForPopup.kitchenDetail.address}}</p>
                      <p><b>Order ID: </b> {{porderForPopup._id}}</p>
                      <p><b>Payment Type: </b>{{porderForPopup.paymenttype}}</p>
                      </div>
                  </div>
                </div>
              </div>

              <div class="profile-box3 profile-box" *ngIf="porderForPopup != undefined">
                <h5>Daily Menu Item</h5>
                <div class="row" *ngFor="let items of porderForPopup.combo">
                  <div class="col-sm-1 p-0">
                    <img src="http://localhost:4024/uploads/{{items.image}}" class="img-fluid" alt="img" />
                  </div>
                  <div class="col-sm-11">
                    <div class="profile-box3-content">
                      <p>{{items.name}} CAD {{items.finalcomboprice}} X {{items.qty}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-box4 profile-box">
                <h5>Delivery Timings</h5>
                <div class="profile-box4-content" *ngIf="porderForPopup != undefined">
                  <p> {{porderForPopup.ordertiming.datetime}}</p>
                </div>
              </div>

              <div class="profile-box5 profile-box">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="profile-box5-left">
                      <p>Subtotal</p>
                      <p>Delivery Charges</p>
                      <p >Included Tax</p>
                  
                      <p>Total Amount</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="profile-box5-right" *ngIf="porderForPopup != undefined">
                      <p><small>PKR</small> {{porderForPopup.subtotal.toFixed(2)}}</p>
                      <p><small>PKR</small> {{porderForPopup.deliveryCharges.toFixed(2)}}</p>
                      <p><small>PKR</small> {{porderForPopup.tax.toFixed(2)}}</p>
                      <p><small>PKR</small> {{porderForPopup.total.toFixed}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      </div>
  </div>
</section>
<app-footer2></app-footer2>
