<!-- <header>
	<nav class="navbar navbar-expand-lg navbar-dark"> -->
		<!-- Brand -->
		<!-- <a class="navbar-brand" href="/"><img src="assets/images/logo.png"></a> -->

		<!-- Navbar links -->
		<!-- <div class=" navbar-collapse sidenav" id="mySidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<ul class="navbar-nav menu">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact Us</a>
				</li>
			</ul>
		</div> -->
		<!-- <div class="head-extras">
			<ul>

				<li><a (click)="cartBoxAction($event)" class="cartDropDown"><i class="fa fa-shopping-cart colorgreen"
							aria-hidden="true"></i>
						<div class="drawerBack" *ngIf="showCart"></div>
						<app-cart class="cart" *ngIf="showCart"></app-cart>

					</a>

				</li>
				<li><a href="#"><i class="fa fa-map-marker colorgreen" aria-hidden="true"></i></a></li>
				<li class="sign-mob"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
				<li class="mob-hide"><a href="#" class="signup">Sign Up</a></li>
			</ul> -->
			<!-- Toggler/collapsibe Button -->
			<!-- <button class="navbar-toggler" type="button" onclick="openNav()">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

	</nav>
</header> -->







<header class="header-design-{{this.global.header}}" id = "top">
	<nav class="navbar navbar-expand-lg navbar-dark">
	  	<!-- Brand -->
		<a class="navbar-brand" href="/"><img src="assets/images/caterdaay-logo.png"></a>

		<!-- Navbar links -->
		<div class=" navbar-collapse sidenav" id="mySidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		    <ul class="navbar-nav menu">
		      	<li class="nav-item">
		        	<a class="nav-link active" routerLink="/">Home</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" routerLink="/aboutus">About Us</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" routerLink="/contactus">Contact Us</a>
		      	</li> 
		    </ul>
		</div>
		<div class="head-extras">
			<ul>
				<li>
					<a (click)="cartBoxAction($event)" class="cartDropDown">
						<i class="fa fa-shopping-cart colorgreen" aria-hidden="true"></i>
						<div class="drawerBack" *ngIf="showCart"></div>
						<app-cart class="cart" *ngIf="showCart && (router.url !== '/checkout')"></app-cart>

					</a>
				</li>
				<li >
					<a class="capitalize2 browser-resc nav-link" aria-expanded="false" data-toggle="dropdown">
						<span class="fa fa-map-marker"></span>&nbsp;&nbsp;&nbsp;{{Countryname}}
						<span class="caret"></span>
						<ul class="dropdown-menu" style="widows: 215px;" >
							<li class="capitalize2 countries" *ngFor="let country of Countrys">
								<a href="javascript:void(0)" (click)="Change(country.countryName)"> 
									<span class=" fa fa-map-marker"></span> &nbsp; {{country.countryName}}
								</a>
							</li>
						</ul>
					</a>
				</li>
				<!-- <li (click)="getAllCountry()" class="open">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;" class="fa fa-map-marker">
								<span class=" glyphicon glyphicon-map-marker"></span> &nbsp; {{Countryname}} is selected
						</a> 
						<ul class="dropdown-menu" style="width: 215px;" (click)="sendData($event)" >
								<li *ngFor="let country of Countrys" class="capitalize2">
									<a href="javascript:void(0)" (click)="setcountry(country.countryName,country._id)"> 
										<span class="fa fa-map-marker"></span> &nbsp; {{country.countryName}}
								    </a>
								</li>
						</ul>
				</li> -->
				<!-- <li (click)="getAllCountry()">
					<a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
					<select (change)="Change($event.target.value)">
							  <option  *ngFor="let coun of Countryname">{{ coun.countryName }} </option>
					</select>
				</li> -->
				<li class="sign-mob"><a style="cursor: pointer;"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
				<li class="sign-mob"><a style="cursor: pointer;"><i class="fa fa-commenting" aria-hidden="true"></i></a></li>
				<li class="mob-hide"><a style="cursor: pointer;" data-toggle="modal" data-target="#login" class="signup" *ngIf="Signin" id="loginn" >Sign In</a></li>
				<li class="mob-hide"  *ngIf="!Signin">
						<div class="dropdown custom-drop" *ngIf="!Signin">
								<input type="checkbox" id="checkbox_toggle">
								<label for="checkbox_toggle">My Account <span class="fa fa-user"></span><span class="fa fa-caret-down" style="margin-left: 10px;"></span></label>
								<ul class="nav nav-tabs" role="tablist">
									<li routerLink="/profile" [queryParams]="{point: 'account'}"><a data-toggle="tab" style="cursor: pointer;" data-target="#account-info" routerLink="/profile" role="tab" aria-controls="account-info"><span class="fa fa-user">&nbsp;&nbsp;</span>Account Info</a></li>
									<li routerLink="/profile" [queryParams]="{point: 'favourite'}"><a data-toggle="tab" style="cursor: pointer;" data-target="#my-favourite" role="tab" aria-controls="my-favourite"><span class="fa fa-star">&nbsp;&nbsp;</span>My favorite</a></li>
									<li routerLink="/profile" [queryParams]="{point: 'orders'}"><a data-toggle="tab" style="cursor: pointer;" data-target="#my-orders" role="tab" aria-controls="my-orders"><span class="fa fa-asterisk">&nbsp;&nbsp;</span>My orders</a></li>
									<li routerLink="/"><a routerLink="/" style="cursor: pointer;" (click)="onSignout()"><span class="fa fa-power-off">&nbsp;&nbsp;</span>Logout</a></li>
								</ul>
							</div>
				</li>
				
			</ul>
			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" onclick="openNav()">
			 	<span class="navbar-toggler-icon"></span>
			</button>
		</div>

	</nav>

</header>


