<!-- <header>
	<nav class="navbar navbar-expand-lg navbar-dark"> -->
		<!-- Brand -->
		<!-- <a class="navbar-brand" href="/"><img src="assets/images/logo.png"></a> -->

		<!-- Navbar links -->
		<!-- <div class=" navbar-collapse sidenav" id="mySidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<ul class="navbar-nav menu">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact Us</a>
				</li>
			</ul>
		</div> -->
		<!-- <div class="head-extras">
			<ul>

				<li><a (click)="cartBoxAction($event)" class="cartDropDown"><i class="fa fa-shopping-cart colorgreen"
							aria-hidden="true"></i>
						<div class="drawerBack" *ngIf="showCart"></div>
						<app-cart class="cart" *ngIf="showCart"></app-cart>

					</a>

				</li>
				<li><a href="#"><i class="fa fa-map-marker colorgreen" aria-hidden="true"></i></a></li>
				<li class="sign-mob"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
				<li class="mob-hide"><a href="#" class="signup">Sign Up</a></li>
			</ul> -->
			<!-- Toggler/collapsibe Button -->
			<!-- <button class="navbar-toggler" type="button" onclick="openNav()">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

	</nav>
</header> -->







<header class="header-design-2" id = "top">
	<nav class="navbar navbar-expand-lg navbar-dark">
	  	<!-- Brand -->
		<a class="navbar-brand" href="/"><img src="assets/images/caterdaay-logo.png"></a>

		<!-- Navbar links -->
		<div class=" navbar-collapse sidenav" id="mySidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		    <ul class="navbar-nav menu">
		      	<li class="nav-item">
		        	<a class="nav-link active" routerLink="/">Home</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" routerLink="/aboutus" >About Us</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" routerLink="/contactus"  >Contact Us</a>
		      	</li> 
		    </ul>
		</div>
		<div class="head-extras">
			<ul>
				<li>
					<a (click)="cartBoxAction($event)" class="cartDropDown">
						<i class="fa fa-shopping-cart colorgreen" aria-hidden="true"></i>
						<div class="drawerBack" *ngIf="showCart"></div>
						<app-cart class="cart" *ngIf="showCart"></app-cart>

					</a>

				</li>
				<!-- <li (click)="getAllCountry()" class="open">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;" class="fa fa-map-marker">
								<span class=" glyphicon glyphicon-map-marker"></span> &nbsp; {{Countryname}} is selected
						</a> 
						<ul class="dropdown-menu" style="width: 215px;" (click)="sendData($event)" >
								<li *ngFor="let country of Countrys" class="capitalize2">
									<a href="javascript:void(0)" (click)="setcountry(country.countryName,country._id)"> 
										<span class="fa fa-map-marker"></span> &nbsp; {{country.countryName}}
								    </a>
								</li>
						</ul>
				</li> -->
				<!-- <li (click)="getAllCountry()">
					<a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
					<select (change)="Change($event.target.value)">
							  <option  *ngFor="let coun of Countryname">{{ coun.countryName }} </option>
					</select>
				</li> -->
				<li class="sign-mob"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
				<li class="sign-mob"><a href="#"><i class="fa fa-commenting" aria-hidden="true"></i></a></li>
				<li class="mob-hide"><a href="#" data-toggle="modal" data-target="#login" class="signup" *ngIf="Signin">Sign In</a></li>
				<li class="mob-hide"><a href="#" (click)="onSignout()" class="signup" *ngIf="!Signin">Sign Out</a></li>
				<li class="mob-hide"><a href="#" class="signup live-chat">Live Chat <i class="fa fa-commenting" aria-hidden="true"></i></a></li>
				
			</ul>
			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" onclick="openNav()">
			 	<span class="navbar-toggler-icon"></span>
			</button>
		</div>

	</nav>
</header>