<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-earn">
    <div class="container">
      <div class="row text-center">
        <!-- <h1>About Us</h1> -->
      </div>
    </div>
  </section>
  
  <section class="pt-5 mt-5 pb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <div class="green-inner">
            <h4>$0 earned. $50 remaining.</h4>
            <h5>New Invites</h5>
            <h3>(0)</h3>
            <div class="invite-prog">
              <div class="invite-progbar"></div>
            </div>
            <p>Invite 20 or more friends to increase your chances!</p>
          </div>
          <div class="terms-div">
            <a style="cursor: pointer;" class="terms-btn">See Terms Of Services</a>
          </div>
        </div>
  
        <div class="col-md-8">
          <div class="sign-form">
            <!-- <form method="" action="">
              <div class="row">
                <div class="col-12 text-center bor-bot">
                  <h3>Earn $10 for every friend</h3>
                  <p>When you introduce your friendS to place their first order</p>
                </div>
              </div>
              
              <div class="row">
                <div class="col-12">
                  <h4 class="mt-4 mb-4">Share your link</h4>
                  <div class="link-div">
                    <input type="text" name="" value="https://caterdaay/d/1235456">
                    <button>Copy</button>
                  </div>
                  <div class="link-div">
                    <input type="text" name="" value="Code:Johnsmith1g452d4">
                    <button>Copy</button>
                  </div>
                  <div class="link-share">
                    <h5>Share On:</h5>
                    <ul>
                      <li><a style="cursor: pointer;" class="fb"><i class="fa fa-facebook"></i></a></li>
                      <li><a style="cursor: pointer;" class="twit"><i class="fa fa-twitter"></i></a></li>
                      <li><a style="cursor: pointer;" class="ins"><i class="fa fa-instagram"></i></a></li>
                      <li><a style="cursor: pointer;" class="linkd"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="mt-4 mb-4">Send an email invite</h4>
                  <div class="link-div">
                    <input type="text" name="" value="Email (Import contacts to enable autosuggest)">
                  </div>
                  <div class="link-div">
                    <input type="text" name="" value="Email (Import contacts to enable autosuggest)">
                  </div>
                  <div class="link-div">
                    <input type="text" name="" value="Email (Import contacts to enable autosuggest)">
                  </div>
                  <div class="link-send">
                    <h5>Preview Email</h5>
                    <button>Send</button>
                  </div>
                </div>
              </div>
  
              <div class="row mt-5 mb-4">
                <div class="col-12 text-center">
                  <h5 class="mb-5 gmail-share"><img src="assets/images/gmail.png" class="img-fluid">Share your love of food</h5>
                  <a style="cursor: pointer;" class="conts-btn">Choose Contacts</a>
                </div>
              </div>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  
  