
<app-header></app-header>
<!-- modal -->
<div class="hotel-popup modal fade" id="hotel-popup" *ngIf="popupItem != undefined">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
          <button id="closePopup" type="button" class="close" data-dismiss="modal">&times;</button>
          <figure>
            <img src="https://www.caterdaay.com:4024/uploads/{{popupItem.image}}" alt="" class="img-fluid">
          </figure>
          <div class="popup-body">
            <div class="row popup-header">
              <div class="col-12">
                <h4>{{popupItem.name}}</h4>
                <p>{{popupItem.finalcomboprice}} &nbsp; CAD / person, minimum {{popupItem.min}} person</p>
              </div>
              <div class="col-12">
                <p class="small">{{popupItem.description}}</p>
              </div>
            </div>
            <div class="row popup-body-area">
              <div class="col-12">
         
                  <div class="row" style="margin-left: -15px">
                    <div class="col-12 pb-4" *ngIf="dropdown.length  != 0">
                      <h4>Total Servings:</h4>
                      <select id="total-serving" >
                          <option [value]="number" *ngFor="let number of dropdown">{{number}} Person</option>
                      </select>
                    </div>
                    <div class="col-12 pb-4" *ngIf="dropdown.length  == 0">
                        <h4>Resturant Limit Exceed</h4>
                      </div>
                    <div class="col-md-8 text-left">
                       <div *ngFor="let item of popupItem.menuId">
                         <a class="search-tags" href="JavaScript:void(0);">{{item.name}}</a>
                       </div>
                    </div>
                    <div class="col-12 pt-4 pb-4">
                      <div id="special-ins"><i class="fa fa-commenting-o" aria-hidden="true"></i> Add any special instructions</div>
                      <textarea style="display: block;" id="special-txt" ></textarea>
                    </div>
                    <div class="col-12 text-center">
                      <input type="submit"  *ngIf="dropdown.length  != 0" (click)="CartCombo(popupItem)" name="popup-cart" id="popup-cart" value="Add to Cart">
                      <input type="submit"  *ngIf="dropdown.length  == 0" (click)="ExitPopup()"  name="popup-cart" id="popup-cart"  value="Exit">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- modal end -->

<section class="single-search-header search-header-updated">
<div class="container">
<!-- <div class="row">
  
  <div class="col-9 mx-auto">
    <ul id="progressbar">
          <li class="active"></li>  
          <li></li> 
          <li></li>
    </ul>
  </div>
</div> -->
<div class="row mt-5" *ngIf="ResturantObj != undefined">
  <div class="col-12">
    <div class="search-titles-row">
      <h1>{{ResturantObj.restaurantname}}</h1>
      <ul class="header-detail-list">
        <li *ngIf="ResturantObj.address != undefined">{{ResturantObj.address.substring(0,20).trim()}}</li>
        <li><a href="tel:ResturantObj.phoneno1">{{ResturantObj.phoneno1}}</a></li>
        <li>
          <div class="row">
            <div class="star-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="rating">
              <span>({{AverageRating || 0}})</span>
              <span><a *ngIf="resturantReviews.review != undefined" style="cursor: pointer;">{{resturantReviews.review.length || 0}} Reviews</a></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <ngx-slick-carousel [config]="slideeConfig" class="carousel col-12 search-slider"  #slickModal="slick-carousel"> 
    <div  class="search-slide" *ngFor="let image of ResturantObj.image">
      <div ngxSlickItem class="slide-flyer">
        <h4>99% On time <span>Based on last 50 orders</span></h4>
      </div>
      <img  src="https://www.caterdaay.com:4024/uploads/{{image}}">
    </div>
  </ngx-slick-carousel>

   
</div>
</div>
</section>

<section class="filters">
<div class="container">
<div class="row">
  <div class="col-12">
    <!-- <form action="" method="" class="form-inline">
      <label>Order</label>
      <select class="custom-select">
        <option value="Deliveryy" selected>Delivery</option>
        <option value="Take Away">Take Away</option>
      </select>
      <label>Delivery Address</label>
      <select class="custom-select">
        <option selected>Dallas, TX</option>
      </select>
      <label>When</label>
      <input type="date" name="" placeholder="Add event Date">
      <label>Serving</label>
      <select class="custom-select">
        <option selected>Total Head Count</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="50">50</option>
      </select>
    </form> -->
  </div>
</div>
</div>
</section>

<section class="inner-cater-search">
<div class="container">
<div class="row search-cat-head align-items-center	">
  <div class="col-md-4">
    <h3>Catering Menu</h3>
  </div>
  <div class="col-md-8 text-right">
    <a style="cursor: pointer;" class="search-tags">Lunches</a>
    <a style="cursor: pointer;" class="search-tags">Entrees</a>
    <a style="cursor: pointer;" class="search-tags">Sides</a>
    <a style="cursor: pointer;" class="search-tags">Deserts</a>
    <a style="cursor: pointer;" class="search-tags">Beverages</a>
  </div>
</div>

<!-- ROW WITH SIDEBAR -->
<div class="row">
  <div class="col-md-9">
    <!-- DELIVERY BUFFET ROW -->
    <!-- <div class="row search-menu" *ngIf="menuToDisplay !== undefined">
      <div class="col-12" *ngFor="let menu of menuToDisplay">
        <div class="row">
          <h3>{{menu.menuName}}</h3>
        </div>
        <div class="row">
          <div class="col-md-6 menu-item" *ngFor="let items of menu.item">
            <div class="menu-item-inner">
              <div class="row">
                <figure>
                  <img src="assets/images/halal-badge.png" class="halal-badge">
                  <a style="cursor: pointer;" data-toggle="modal" data-target="#hotel-popup" (click)="ResturantPopups(items)"><img src="http://https://www.caterdaay.com:4024/uploads/{{items.itemImage}}" alt=""></a>
                  <div class="most-ord">Most Ordered</div>
                </figure>
              </div>	
              <div class="menu-item-desc">
                <div class="row flex-col">
                  <a style="cursor: pointer;" (click)="ResturantPopups(items)" data-toggle="modal" ><h4>{{items.itemName}}</h4></a>
                  <p>{{items.Description}}</p>
                  <h5 class="price">CAD {{items.itemPrice}}</h5>
                </div>
                <div class="row item-desc-footer align-items-center">
                  <p>person, minimum 10 people</p>
                  <a style="cursor: pointer;"><i class="fa fa-heart-o"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
<!-- DELIVERY BUFFET ROW -->
<div class="row search-menu" *ngIf="bufferToDisplay !== undefined">
  <div class="col-12" >
    <div class="row">
      <h3>Buffet List</h3>
    </div>
    <div class="row">
      <div class="col-md-6 menu-item" *ngFor="let items of bufferToDisplay">
        <div class="menu-item-inner">
          <div class="row">
            <figure>
              <img src="assets/images/halal-badge.png" class="halal-badge">
              <a style="cursor: pointer;" data-toggle="modal" data-target="#hotel-popup" (click)="ResturantPopups(items)"><img src="https://www.caterdaay.com:4024/uploads/{{items.image}}" alt=""></a>
              <div class="most-ord">Most Ordered</div>
            </figure>
          </div>	
          <div class="menu-item-desc">
            <div class="row flex-col">
              <a style="cursor: pointer;" (click)="ResturantPopups(items)" data-toggle="modal" ><h4>{{items.name}}</h4></a>
              <p>{{items.description}}</p>
              <h5 class="price">CAD {{items.finalcomboprice}}</h5>
            </div>
            <div class="row item-desc-footer align-items-center">
              <p>person, minimum {{items.min}} people</p>
              <a style="cursor: pointer;"><i class="fa fa-heart-o"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>

  <!-- SIDEBAR -->
  <div class="col-md-3 right-sidebar">
    <div class="search-cart">
      <a style="cursor: pointer;"><i class="fa fa-shopping-cart"></i> View Cart</a>
    </div>
    <div class="search-supp">
      <h4>Need Help?</h4>
      <a routerLink="/contactus" class="supp"><i class="fa fa-headphones"></i>Contact Us</a>
      
    </div>
  </div>
</div>
</div>
</section>

<section class="rev-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="row mb-4" >
          <div class="col-12">
            <h4 class="rev-head">Reviews</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul class="rev-list">
              <li *ngFor="let resturantReview of resturantReviews.review">
                <figure>
                  <img src="assets/images/avatar.png" alt="">
                </figure>
                <div class="rev-desc">
                    <div class="row rev-meta-row">
                      <div class="col-12">
                        <div class="rev-meta">
                          <h5>{{resturantReview.name}}</h5>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i> {{resturantReview.created_at.split('T')[0]}} </p>
                        </div>
                        <div class="rev-rating">
                          <div class="rev-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="rev-rate">
                            ({{resturantReview.average}})
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p >{{resturantReview.review}}</p>
                      </div>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <a style="cursor: pointer;" class="load-more"> LOAD MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i> <span>(340 Reviews)</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-5 cat-det">
        <div class="row mb-4">
          <div class="col-12">
            <h4 class="rev-head" (click)="switchToAbout()">About Restaurant</h4>
            <h4 class="rev-head" (click)="switchToLocation()">Location</h4>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
         
              <agm-map id="HERE" *ngIf="location" style="height:300px;" 
              
              [latitude]="latitude" 
              [longitude]="longitude"
              [zoom]="zoom"  
          
              >
              <agm-marker 
              
                [latitude]="latitude" 
                [longitude]="longitude"></agm-marker>
              </agm-map>
      
            <div *ngIf="!location">
            <h5>{{ResturantObj.restaurantname }}</h5>
            <p>{{ResturantObj.restaurantDescription }}</p>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul>
              <li><strong>Address:</strong>>{{ResturantObj.address}}</li>
              <li><strong>Phone:</strong> {{ResturantObj.phoneno1}}</li>
              <li><strong>Email:</strong> abc@yourdomain.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-mobile-app></app-mobile-app>
<app-onboarding></app-onboarding>
<app-footer></app-footer>