<app-signup></app-signup>
<app-header></app-header>
<section class="single-search-header buyer-menu-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="buyer-header-inner">
            <h1>{{ResturantObj.restaurantname }}<span>{{ResturantObj.openingstatus }}</span></h1>
            <ul class="header-detail-list">
              <li>{{ResturantObj.address}}</li>
              <li><a href="tel:ResturantObj.phoneno1">{{ResturantObj.phoneno1}}</a></li>
              <li>
                <div class="row">
                  <div class="star-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="rating">
                    <span>({{AverageRating || 0}})</span>
                    <span><a href="#" >{{resturantReviews.review.length || 0}} Reviews</a></span>
                  </div>
                </div>
              </li>
            </ul>
            <div class="menu-row">
              <ul>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#combo">Combo</a></li>
                <li><a href="#meal">Meal Packages</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="inner-cater-search">
    <div class="container">
      <!-- ROW WITH SIDEBAR -->
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-12">
              <div class="buyer-menus" id="menu">
                <div class="buyer-menus-head">
                  <h4>Menu</h4>
                </div>
                <div class="buyer-menus-body" >
                  <div id="accordion"  class="" *ngFor="let menu of menuToDisplay">
                    <!-- Menu1 -->
                    <div class="card">
                        <div class="card-header" id="menu{{menu.uiId}}">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse"  [attr.data-target]="'#menu-list'+menu.uiId" aria-expanded="true"  [attr.aria-controls]="'#menu-list'+menu.uiId">
                                <figure>
                                  <img src="http://localhost:4024/uploads/{{menu.menuImage}}">
                                </figure>
                                  {{menu.menuName}}

                              </button>
                            </h5>
                        </div>
                        
                        <div id="menu-list{{menu.uiId}}" class="collapse show" [attr.labelledby]="'menu' + menu.uiId" data-parent="#accordion">
                          <div class="card-body" > 
                              <ul class="buyer-menus-list"  >
                         
                                <li *ngFor="let items of menu.item" style="min-width: 50.00%">
                                  <div class="b-menu">
                                    <figure>
                                        <!-- <img src="assets/images/dish-1.jpg"> -->
                                      <img src="http://localhost:4024/uploads/{{items.itemImage}}">
                                    </figure>
                                    <h4>{{items.itemName}}</h4>
                                    <p>{{items.Description}}</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">{{items.price}}</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a (click)="AddtoCart(items.completeItem,ResturantObj.restaurantname)" class="btn">Add to Cart</a>
                                      <a (click)="AddtoCart(items.completeItem,ResturantObj.restaurantname)" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="buyer-menus" id="combo">
                <div class="buyer-menus-head">
                  <h4>Combo</h4>
                </div>
                <div class="buyer-menus-body">
                  <div id="accordion-combo" class="">
                    <!-- Menu1 -->
                      <div class="card">
                        <div class="card-header" id="combo1">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#combo-list1" aria-expanded="true" aria-controls="combo-list1">
                                <figure>
                                  <img src="assets/images/dish-1.jpg">
                                </figure>
                                  Burgers
                              </button>
                            </h5>
                        </div>
  
                        <div id="combo-list1" class="collapse show" aria-labelledby="combo1" data-parent="#accordion-combo">
                            <div class="card-body">
                              <ul class="buyer-menus-list">
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
  
                      <!-- combo2 -->
                      <div class="card">
                        <div class="card-header" id="combo2">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#combo-list2" aria-expanded="true" aria-controls="combo-list2">
                                <figure>
                                  <img src="assets/images/dish-1.jpg">
                                </figure>
                                  Salads
                              </button>
                            </h5>
                        </div>
  
                        <div id="combo-list2" class="collapse" aria-labelledby="combo2" data-parent="#accordion-combo">
                            <div class="card-body">
                              <ul class="buyer-menus-list">
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
  
                      <!-- combo3 -->
                      <div class="card">
                        <div class="card-header" id="combo3">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#combo-list3" aria-expanded="true" aria-controls="combo-list3">
                                <figure>
                                  <img src="assets/images/dish-1.jpg">
                                </figure>
                                  Rice
                              </button>
                            </h5>
                        </div>
  
                        <div id="combo-list3" class="collapse" aria-labelledby="combo3" data-parent="#accordion-combo">
                            <div class="card-body">
                              <ul class="buyer-menus-list">
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
  
              <!-- <div class="buyer-menus" id="meal">
                <div class="buyer-menus-head">
                  <h4>Meal Packages</h4>
                </div>
                <div class="buyer-menus-body">
                  <div id="accordion-meal" class=""> -->
                    <!-- meal1 -->
                      <!-- <div class="card">
                        <div class="card-header" id="meal1">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#meal-list1" aria-expanded="true" aria-controls="meal-list1">
                                <figure>
                                  <img src="assets/images/dish-1.jpg">
                                </figure>
                                  Burgers
                              </button>
                            </h5>
                        </div>
  
                        <div id="meal-list1" class="collapse show" aria-labelledby="meal1" data-parent="#accordion-meal">
                            <div class="card-body">
                              <ul class="buyer-menus-list">
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
   -->
                      <!-- meal2 -->
                      <!-- <div class="card">
                        <div class="card-header" id="meal2">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#meal-list2" aria-expanded="true" aria-controls="meal-list2">
                                <figure>
                                  <img src="assets/images/dish-1.jpg">
                                </figure>
                                  Salads
                              </button>
                            </h5>
                        </div>
  
                        <div id="meal-list2" class="collapse" aria-labelledby="meal2" data-parent="#accordion-meal">
                            <div class="card-body">
                              <ul class="buyer-menus-list">
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
   -->
                      <!-- meal3 -->
                      <!-- <div class="card">
                        <div class="card-header" id="meal3">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#meal-list3" aria-expanded="true" aria-controls="meal-list3">
                                <figure>
                                  <img src="assets/images/dish-1.jpg">
                                </figure>
                                  Rice
                              </button>
                            </h5>
                        </div>
  
                        <div id="meal-list3" class="collapse" aria-labelledby="meal3" data-parent="#accordion-meal">
                            <div class="card-body">
                              <ul class="buyer-menus-list">
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
  
                                <li>
                                  <div class="b-menu">
                                    <figure>
                                      <img src="assets/images/menu-1.jpg">
                                    </figure>
                                    <h4>Mexican Burger</h4>
                                    <p>You'll love these Mexican Guacamole Burgers. They've got Mexican seasoning baked inside and homemade.</p>
                                    <div class="menu-price">
                                      <span class="menu-curr">CAD</span>
                                      <span class="menu-price">5.00</span>
                                    </div>
                                    <div class="menu-add-to-cart">
                                      <a href="#" class="btn">Add to Cart</a>
                                      <a href="#" class="add-menu"><i class="fa fa-plus"></i></a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div> -->
                  <!-- </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
  
        <!-- SIDEBAR -->
        <div class="col-md-4 cart-sidebar">
          <div class="side-bar-cart">
            <h4 id="side-cart"><i class="fa fa-shopping-cart"><sup class="cart-pop">3</sup></i> Your Order</h4>
            <div class="cart-menu" style="display: none;">
              <h5>{{ResturantObj.restaurantname }}</h5>
              <div class="menu-items">
                <span>Menu Items</span>
              </div>
              <!-- <form action="" method="">
                <div class="cart-items">
                  <ul>
                    <li>
                      <div class="cart-item-quantity">
                          <input type="number" min="1" max="10" step="1" value="1">
                      </div>
                      <div class="cart-item-name">
                        <h6>Hot and Sour Soup</h6>
                      </div>										
                      <div class="cart-item-price">
                        <span class="cart-item-price-cur">CAD</span>
                        <span class="cart-item-price-amount">4.00</span>
                      </div>
                      <div class="cart-item-cancel">
                        <a href="#"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
                      </div>
                    </li>
                    <li>
                      <div class="cart-item-quantity">
                          <input type="number" min="1" max="10" step="1" value="1">
                      </div>
                      <div class="cart-item-name">
                        <h6>Hot and Sour Soup</h6>
                      </div>										
                      <div class="cart-item-price">
                        <span class="cart-item-price-cur">CAD</span>
                        <span class="cart-item-price-amount">4.00</span>
                      </div>
                      <div class="cart-item-cancel">
                        <a href="#"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
                      </div>
                    </li>
                    <li>
                      <div class="cart-item-quantity">
                          <input type="number" min="1" max="10" step="1" value="1">
                      </div>
                      <div class="cart-item-name">
                        <h6>Hot and Sour Soup</h6>
                      </div>										
                      <div class="cart-item-price">
                        <span class="cart-item-price-cur">CAD</span>
                        <span class="cart-item-price-amount">4.00</span>
                      </div>
                      <div class="cart-item-cancel">
                        <a href="#"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="cart-item-subtotal">
                  <h6>Sub Total:</h6>
                  <h6>CAD 24.10</h6>
                </div>
                <div class="cart-item-btn">
                  <a href="checkout">Checkout</a>
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="rev-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="row mb-4" >
            <div class="col-12">
              <h4 class="rev-head">Reviews</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul class="rev-list">
                <li *ngFor="let resturantReview of resturantReviews.review">
                  <figure>
                    <img src="assets/images/avatar.png" alt="">
                  </figure>
                  <div class="rev-desc">
                     <div class="row rev-meta-row">
                       <div class="col-12">
                         <div class="rev-meta">
                           <h5>{{resturantReview.name}}</h5>
                           <p><i class="fa fa-calendar" aria-hidden="true"></i> {{resturantReview.created_at.split('T')[0]}} </p>
                         </div>
                         <div class="rev-rating">
                           <div class="rev-stars">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                           </div>
                           <div class="rev-rate">
                             ({{resturantReview.average}})
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-12">
                         <p >{{resturantReview.review}}</p>
                       </div>
                     </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <a href="#" class="load-more"> LOAD MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i> <span>(340 Reviews)</span></a>
            </div>
          </div>
        </div>
        <div class="col-md-5 cat-det">
          <div class="row mb-4">
            <div class="col-12">
              <h4 class="rev-head">About Restaurant</h4>
              <h4 class="rev-head">Location</h4>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
                <agm-map id="HERE" style="height:300px;" 
               
                [latitude]="latitude" 
                [longitude]="longitude"
                [zoom]="zoom"  
            
                >
                <agm-marker 
                
                  [latitude]="latitude" 
                  [longitude]="longitude"></agm-marker>
                </agm-map>
              <h5>{{ResturantObj.restaurantname }}</h5>
              <p>{{ResturantObj.restaurantDescription }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul>
                <li><strong>Address:</strong>>{{ResturantObj.address}}</li>
                <li><strong>Phone:</strong> {{ResturantObj.phoneno1}}</li>
                <li><strong>Email:</strong> abc@yourdomain.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-onboarding></app-onboarding>
<app-footer2></app-footer2>